.slide-container {
    display: none;
    position: absolute;
    line-height: 0px;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #000;
}

.slide-container table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}

.slide-container td {
    vertical-align: middle;
    text-align: center;
}

.slide-container img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

/* SLIDE MODES */

/* No slides - body class "no-slides" */
body.no-slides .slide-container,
.size-small .slide-container,
.size-tiny .slide-container {
    display: none !important;
}
body.no-slides .video-display,
.size-small .video-display,
.size-tiny .video-display {
    display: block !important;
    right: 0 !important;
}


/* Side-by-side - body class "slidemode-sbs" */
body.slidemode-sbs .slide-container {
    display: block;
    left: 50%;
}
body.slidemode-sbs .video-display {
    right: 50%;
}

/* Slides only - body class "slidemode-slide" */
body.slidemode-slide .slide-container {
    display: block;
    left: 0;
}
body.slidemode-slide .video-display {
    display: none;
}

/* Video only - body class "slidemode-video" */
body.slidemode-video .slide-container {
    display: none;
}