<div class="slide-container" click="$set:switchSlideMode"><table><tr><td></td></tr></table></div>

{% if slideOverviewShown %}
<div class="slide-overview-container-background"></div>
<div class="slide-overview-container">
  <div class="slide-overview"><!--
    {% for slide in slides %}
      {% if slide.empty_p != true %}
        --><div class="slide-overview-item" click="$set:playFromSlide:{{forloop.index0}}">
          {% if slide.slide_url != empty %}
            <img src="{{url}}{{slide.slide_url}}" onload="jQuery(this).fadeIn();" />
          {% endif %}
        </div><!--
      {% endif %}
    {% endfor %}-->
    <div class="clear"></div>
  </div>
</div>
{% endif %}