{% if supportsVolumeChange %}
<button class="tray-button button volume-button {% if volumeMuted %}volume-button-on{% else %}volume-button-off{% endif %}" click="$fire:player:volume-engaged" aria-label="{{"toggle_volume"|translate}}" label="{{"toggle_volume"|translate}}" role="button" tabindex="1700">
  {% if volumeMuted %}
  <!--Sound-->
  {% else %}
  <!--Mute-->
  {% endif %}
<<<<<<< HEAD
<ul>
	<li>
	<div class="volume-track"></div>
	<div class="volume-filled"></div>
	<div class="volume-handle"></div>
	</li>
</ul>
</button>
{% endif %}
