{% if supportsVolumeChange %}
<div class="tray-button button volume-button {% if volumeMuted %}volume-button-on highlight-button{% else %}volume-button-off{% endif %}" click="$toggle:volumeMuted">
  {% if volumeMuted %}
  <!--Sound-->
  {% else %}
  <!--Mute-->
  {% endif %}
</div>
{% endif %}
