{% if supportsVolumeChange %}
  <div class="button-container">
    <button class="volume-button {% if volumeMuted %}volume-button-off{% else %}volume-button-on{% endif %}" click="$toggle:volumeMuted" aria-label="{{"toggle_volume"|translate}}" label="{{"toggle_volume"|translate}}" tabindex="1700">
    
      <span class="hide-visually">
        {{"toggle_volume"|translate}}
      </span>
      
    </button>

    <div class="volume-slider">
      <div class="volume-slider-inner">
        <div class="volume-track"><div class="volume-level"></div></div>
      </div>
    </div>
  
  </div>
{% endif %}
