{% if socialSharing %}
<button class="tray-button button {{module.service}}-button" click="$set:shareTo:{{module.service}}">
  <span class="hide-visually">
    {{module.service}}
  </span>
</button>
{% endif %}
