{% if protectionStatus == "verifying" %}
{% if protectionMethod == "password" %}
<div class="protection-password">
  <table><tr><td>
    <h3>{{"password_required"|translate}}</h3>
    <form action="/">
      <input class="password" type="password" />
      <input type="submit" class="submitbutton" value="{{"play_video"|translate}}" />
    </form>
  </td></tr></table>
</div>
{% endif %}
{% endif %}
