{% if protectionStatus == "verifying" %}
{% if protectionMethod == "password" %}
<div class="protection-password">
  <table><tr><td>
    <h3>Password required</h3>
    <form action="/">
      <input class="password" type="password" />
      <input type="submit" class="submitbutton" value="Play video" />
    </form>
  </td></tr></table>
</div>
{% endif %}
{% endif %}
