{% if video_type == "clip" or stream_has_dvr %}
<div class="scrubber-container">
  <div class="scrubber">
    <div class="scrubber-track"></div>
    <div class="scrubber-buffer"></div>
    <div class="scrubber-play"></div>
    <div class="scrubber-handle"></div>
    {% if isTouchDevice != true %}<div class="scrubber-thumbnail"><div class="scrubber-thumbnail-sub"></div></div>{% endif %}
  </div>
</div>
{% endif %}
