<div class="scrubber-container">
  <div class="scrubber">
    <div class="scrubber-track"></div>
    <div class="scrubber-buffer"></div>
    <div class="scrubber-play"></div>
    <div class="scrubber-handle"></div>
    <div class="scrubber-thumbnail"><div class="scrubber-thumbnail-sub"></div></div>
  </div>
  <div class="scrubber-time">
    <!-- populated through scrubber-time.liquid -->
  </div>
</div>
