<div class="scrubber-container">
  {% if video_type == "clip" or stream_has_dvr %}
    <div class="scrubber">
      <div
        class="scrubber-track"
        tabindex="0"
        role="slider"
        aria-label="seek_slider"
        aria-valuetext="">
        <div class="scrubber-buffer"></div>
        <div class="scrubber-play"></div>
      </div>
      {% if isTouchDevice != true %}
        <div class="scrubber-thumbnail">
          <div class="scrubber-thumbnail-time-container">
            <span class="scrubber-thumbnail-time">00:00</span>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
  <div class="time-container">00:00 / 00:00</div>
</div>