{% if showDescriptions == true %}
  {% if video_title != empty %}
    <div class="info-pane">
      {% if video_title != empty%}<h1>{{video_title|truncatewords:15}}</h1>{% endif %}
    </div>
  {% endif %}
{% endif %}
