<div class="info-overlay">
  <div class="info-overlay-text">
    {% if video_type == "stream" %}
      <div class="info-overlay-live"><div class="info-overlay-live-icon"></div>Live</div>
    {% endif %}
    {% if video_title != empty%}<h1 class="info-overlay-title">{{video_title|truncatewords:15}}</h1>{% endif %}
    <div class="info-overlay-domain">{{ domain}}</div>
  </div>
</div>
