{% glue core with "domain":"reinvent.23video.com", "player_id":6458116 %}
{% glue analytics %}
{% glue sharing %}

<div id="player">
  <!-- Video display -->
  {% glue video-display %}

  <!-- Control bar or tray -->
  <div id="info">{% glue info %}</div>
  <div id="tray">
    <div class="tray-left">
      <div class="tray-button">{% glue play-button %}</div>
    </div>
    
    <div class="tray-scrubber">{% glue scrubber %}</div>

    <div class="tray-right">
      {% if 0 %}<div class="tray-button">{% glue playlist-button %}</div>{% endif %}
      {% if 0 %}<div class="tray-button">{% glue share-button %}</div>{% endif %}
      <div class="tray-button">{% glue volume-button "volume":.5 %}</div>
      <div class="tray-button">{% glue fullscreen-button %}</div>
      {% if 0 %}<div class="tray-button">{% glue quality-button with "quality":"hd" %}</div>{% endif %}
    </div>
  </div>

  <div class="big-button">{% glue big-play-button %}</div>
  {% glue logo %}
</div>

