{% player core with "domain":"videos.23video.com", "player_id":6458116 %}
{% player error-display %}
{% player analytics %}
{% player sharing %}

<div id="player">
  <!-- Video display -->
  {% player video-display %}

  <!-- Control bar or tray -->
  <div id="info">{% player info %}</div>
  <div id="tray">
    <div class="tray-left">
      <div class="tray-button">{% player play-button %}</div>
    </div>
    
    <div class="tray-scrubber">{% player scrubber %}</div>

    <div class="tray-right">
      {% if 0 %}<div class="tray-button">{% player playlist-button %}</div>{% endif %}
      {% if 0 %}<div class="tray-button">{% player share-button %}</div>{% endif %}
      <div class="tray-button">{% player volume-button %}</div>
      <div class="tray-button">{% player fullscreen-button %}</div>
      {% if 0 %}<div class="tray-button">{% player quality-button with "quality":"hd" %}</div>{% endif %}
      <div class="tray-button">{% player social-button with "service":"facebook" %}</div>
      <div class="tray-button">{% player social-button with "service":"twitter" %}</div>
      <div class="tray-button">{% player social-button with "service":"tumblr" %}</div>
    </div>
  </div>

  <div class="big-button">{% player big-play-button %}</div>
  {% player logo %}
</div>

