.video-display {
    position:absolute; 
    top:0; 
    left:0;
    bottom:0; /*might be updated in js via player settings in the 'design' module */
    right:0; /*might be updated in js via player settings in the 'design' module */
    background-color:black; /* this is needed for fullscreen to have a black background in webkit fullscreen */
}
.video-display .video-canvas {
    position:absolute; 
    width:100%; 
    height:100%; 
}
.video-display .video-canvas video {
    position:absolute; 
    top:0; 
    left:0;
    width:100%; 
    height:100%; 
}
.video-display .toggle-mute-button {
    display: none;
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 30px;
    font-size: 12px;
    border-radius: 13px;
    background-color: rgba(0,0,0,0.7);
}
body.mute-autoplay .video-display .toggle-mute-button {
    display: block;
}

body.displaying-360 .player-actions {
    display: none;
}