.video-display {
    position:absolute; 
    top:0; 
    left:0;
    bottom:0; 
    right:0;
}
.video-display .video-canvas {
    position:absolute; 
    width:100%; 
    height:100%; 
}
.video-display .video-canvas video {
    position:absolute; 
    top:0; 
    left:0;
    width:100%; 
    height:100%; 
}
