.video-display {
    position:fixed; 
    top:0; 
    left:0;
    bottom:0; /*might be updated in js via player settings in the 'design' module */
    right:0; /*might be updated in js via player settings in the 'design' module */
    background-color:black; /* this is needed for fullscreen to have a black background in webkit fullscreen */
}
.video-display .video-canvas {
    position:absolute; 
    width:100%; 
    height:100%; 
}
.video-display .video-canvas video {
    position:absolute; 
    top:0; 
    left:0;
    width:100%; 
    height:100%; 
}
