/* ACTIONS */
.player-actions {position:fixed; top:0; left:0; width:100%; height:100%;}
.action {display:block; position:absolute;}
.action-screen {position:absolute; top:0; left:0; width:100%; height:100%; cursor:pointer;}

.action {border:2px solid purple;}
.action-text {background:rgba(0,0,0,.5); color:white;}
