/* ACTIONS */
.player-actions {position:relative; top:0; left:0;}

.action {display:block; position:absolute;}
.action-screen {position:absolute; top:0; left:0; width:100%; height:100%; cursor:pointer; display:block; background: #FFF; opacity:0; filter:alpha(opacity=0)}

.action-border, .action-border-hover:hover {
  border: 2px solid #555555;
}
.action-border .action-content, .action-border-hover:hover .action-content {
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
}

.action-text {color:white; box-sizing: border-box; overflow:hidden;}
.action-text .action-content {line-height:1.3em; padding: 0.6em 0.8em; font-family:Arial, Helvetica; position:absolute; top:0; left:0; bottom:0; right:0; box-sizing: border-box;}

.action-ad, .action-video {
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
}
.action-banner .action-content, .action-image .action-content {
  height: 100%;
  width: 100%;
}
.action-banner img, .action-image img {
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  *position: relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  *display: block;
  *zoom: 1;
}
.action-image .middle{
  *margin-top: expression((parentNode.offsetHeight.offsetHeight/2)-(parseInt(this.offsetHeight)/2) <0 ? "0" :(parentNode.offsetHeight/2)-(parseInt(this.offsetHeight)/2) +'px');
}
.action-image .bottom{
  *margin-top: expression((parentNode.offsetHeight.offsetHeight)-(parseInt(this.offsetHeight)) <0 ? "0" :(parentNode.offsetHeight)-(parseInt(this.offsetHeight)) +'px');
}

.product-parent {
  position:absolute;
  top:0;
  left:0;
}
.action-product {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  margin: 10px;
  background: #FFFFFF;
  background: rgba(255,255,255,0.9);
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}
.action-product:hover {
  background: #FFFFFF;
  background: rgba(255,255,255,0.95);
}
.action-product .action-content {
  width:55px;
  height:55px;
  text-align:center;
}
.action-product img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  max-height: 55px;
  max-width: 55px;
  margin: auto;
  *position: static;
  *margin-top: expression((parentNode.offsetHeight.offsetHeight/2)-(parseInt(this.offsetHeight)/2) <0 ? "0" :(parentNode.offsetHeight/2)-(parseInt(this.offsetHeight)/2) +'px');
}
.action-product .product-name {
  position: relative;
  left: 65px;
  height: 55px;
  opacity:0;
  filter:alpha(opacity=0);
  display: table-cell;
  *display: block;
  vertical-align: middle;
  text-align:left;
  *position:absolute;
  *top: 0;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.action-product:hover .product-name {
  opacity:1;
  filter:none;
}
.action-product .product-name div {
  background:#666666;
  background:rgba(51,51,51,0.9);
  padding: 10px;
  vertical-align: middle;
  white-space:nowrap;
  *margin-top: expression((parentNode.offsetHeight.offsetHeight/2)-(parseInt(this.offsetHeight)/2) <0 ? "0" :(parentNode.offsetHeight/2)-(parseInt(this.offsetHeight)/2) +'px');
}
.action-product .product-triangle {
  display: block;
  opacity:0;
  filter:alpha(opacity=0);
  width:0;
  height:0;
  border-right: 5px solid #666666;
  border-right: 5px solid rgba(51,51,51,0.9);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 19.5px;
  left: 60px;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.action-product:hover .product-triangle {
  opacity:1;
  filter:none;
}

.action-click-container {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  cursor:pointer;
}
.action-countdown-container {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index: 9999;
  cursor:auto;
}
.action-countdown-text {
  background:black;
  background:rgba(0,0,0,.6);
  padding-left:10px;
  color:white;
  font-size:12px;
  line-height:30px;
}

/* Close button */
.action-close {
  position: absolute;
  top:0;
  right:0;
  width:30px;
  height:30px;
  background:url('close-icon.png') center center no-repeat;
  cursor:pointer;
}
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .action-close {background-image:url('close-icon@2x.png'); background-size:30px;}
}
