/* ACTIONS */
.player-actions {position:relative; top:0; left:0;}
.player-actions:empty {pointer-events: none;}

.action {display:block; position:absolute;}
.action-screen {position:absolute; top:0; left:0; width:100%; height:100%; cursor:pointer; display:block; background: #FFF; opacity:0; filter:alpha(opacity=0);}
.action-content table {table-layout: fixed;}

.action-text {color:white; box-sizing: border-box; overflow:hidden;}
.action-text .action-content {line-height:1.35em; padding: 0.6em 0.8em; font-family:Arial, Helvetica; position:absolute; top:0; left:0; bottom:0; right:0; box-sizing: border-box;}
.action-text table, .action-text tr, .action-text td {
  width: 100%;
  height: 100%;
  vertical-align: top;
  text-align: left;
}

.action-ad, .action-video {
  z-index: 9990;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
}
.action-banner .action-content, .action-image .action-content {
  height: 100%;
  width: 100%;
}
.action-banner table, .action-banner td, .action-image table, .action-image td {
  width: 100%;
  height: 100%;
}
.action-banner td, .action-image td {
  text-align: center;
  vertical-align: middle;
}
.action-banner img, .action-image img {
  height: auto;
  width: auto;
  visibility: hidden;
}
.action-banner .banner-wrap {
  display: inline-block;
  position: relative;
  zoom: 1;
  *display: inline;
}
.action-banner .close-button {
  position: absolute;
  top:0;
  right:0;
  width:30px;
  height:30px;
  background:url('close-icon.svg') center center no-repeat;
  cursor:pointer;
}

.product-parent {
  position:absolute;
  top:0;
  left:0;
}
.action-product {
  position: relative;
  display: block;
  width: 75px;
  height: 75px;
  margin: 10px;
  background: #FFFFFF;
  background: rgba(255,255,255,0.9);
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}
.size-small .action-product,
.size-tiny .action-product {
  width: 55px;
  height: 55px;
}
.action-product:hover {
  background: #FFFFFF;
  background: rgba(255,255,255,0.95);
}
.action-product .action-content {
  width:75px;
  height:75px;
  text-align:center;
}
.size-small .action-product .action-content,
.size-tiny .action-product .action-content {
  width: 55px;
  height: 55px;
}
.action-product img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  *position: static;
  *margin-top: expression((parentNode.offsetHeight.offsetHeight/2)-(parseInt(this.offsetHeight)/2) <0 ? "0" :(parentNode.offsetHeight/2)-(parseInt(this.offsetHeight)/2) +'px');
}
.action-product .product-info {
  position: absolute;
  top: 0;
  left: 85px;
  height: 75px;
  opacity:0;
  filter:alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.size-small .action-product .product-info,
.size-tiny .action-product .product-info {
  left: 65px;
  height: 55px;
}

.action-product:hover .product-info {
  opacity:1;
  filter:none;
}
.action-product .product-info tr, .action-product .product-info td {
  height: 100%;
  vertical-align: middle;
  text-align: left;
}
.action-product .product-info div.product-wrap {
  background:#666666;
  background:rgba(51,51,51,0.9);
  padding: 8px;
}

.action-product .product-info div.product-wrap span {
  white-space:nowrap;
}

.action-product .product-info .product-name {
  font-size: 1.2em;
}

.action-product .product-triangle {
  display: block;
  opacity:0;
  filter:alpha(opacity=0);
  width:0;
  height:0;
  border-right: 5px solid #666666;
  border-right: 5px solid rgba(51,51,51,0.9);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 29.5px;
  left: 80px;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  -ms-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.size-small .action-product .product-triangle,
.size-tiny .action-product .product-triangle {
  top: 19.5px;
  left: 60px;
}
.action-product:hover .product-triangle {
  opacity:1;
  filter:none;
}

.action-html .action-content {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

body.video-action-playing .video-display {
    z-index: 200;
}
body.video-action-playing .video-canvas {
    background: rgb(0,0,0);
    background-image: none !important;
}

.action-click-container {
  position:fixed;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  cursor:pointer;
}
.action-countdown-container {
  display: table;
  position:fixed;
  top:25px;
  right:0;
  height: 40px;
  z-index: 9999;
  border: 1px solid #444444;
  border-right: none;
  background: rgb(34,34,34);
  background: rgba(34,34,34, 0.8);
  cursor:pointer;
}
.action-allow-close {
  padding-right: 30px;
}
.action-allow-close:hover {
  background: rgba(34,34,34,1);
}
.action-countdown-text {
  padding: 0 10px;
  color:white;
  font-size:13px;
  line-height:1em;
  display: table-cell;
  vertical-align: middle;
}
.action-skip-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 15px;
    width: 15px;
    height: 100%;
    background: transparent url(skip.svg) center center no-repeat;
    background-width: 15px;
}
.action-allow-close .action-skip-icon {
    display: block;
}

.action-border, .action-border-hover:hover {
  border: 2px solid #555555;
}
.action-border .action-content, .action-border-hover:hover .action-content {
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
}

/* Close button */
.action-close {
  position: absolute;
  top:0;
  right:0;
  width:30px;
  height:30px;
  background:url('close-icon.svg') center center no-repeat;
  cursor:pointer;
}
@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .action-close {background-image:url('close-icon.svg'); background-size:30px;}
}
