{% if supportsFullscreen %}
  <div class="tray-button button fullscreen-button {% if fullscreen %}fullscreen-button-off{% else %}fullscreen-button-on{% endif %}" click="$toggle:fullscreen">
    {% if fullscreen == true %}
    <!--Not full screen-->
    {% else %}
    <!--Full screen-->
    {% endif %}
  </div>
{% endif %}
