{% if socialSharing %}
<div class="tray-button button share-button {% if showSharing %}highlight-button{% endif %}" click="$toggle:showSharing" aria-controls="sharing"  aria-label="{{"share_video"|translate}}" label="{{"share_video"|translate}}" role="button" tabindex="1300">
  <!--Share-->
</div>
{% endif %}
