{% if socialSharing %}
<div class="tray-button button share-button {% if showSharing %}highlight-button{% endif %}" click="$toggle:showSharing" aria-controls="sharing"  aria-label="Share video" label="Share video" role="button" tabindex="2000">
  <!--Share-->
</div>
{% endif %}
