{% if slideOverviewAvailable %}
<button class="tray-button button slides-button {% if slideOverviewShown %}highlight-button{% endif %}" click="$toggle:slideOverviewShown" aria-label="{{"Toggle slide overview"|translate}}" label="{{"Toggle slide overview"|translate}}" tabindex="1250">
  <span class="hide-visually">
    {{"Toggle slide overview"|translate}}
  </span>
</button>
{% endif %}