{% if enableRealButton %}
  {% if videoReal %}
    <div class="button-container">
      <button
        class="real-button menu"
        tabindex="0">
        <span class="hide-visually">
          Real
        </span>
      </button>
    </div>
  {% endif %}
{% endif %}
