{% if hasSubtitles %}
<div class="tray-button button subtitle-button">
  Subs
  <ul>
    {% for l in localesArray %} 
    <li {% if l.locale == subtitleLocale %}class="selected"{% endif %} click="$set:subtitleLocale:{{l.locale}}">{{l.language}}</li>
    {% endfor %}
    <li {% if subtitleLocale == empty %}class="selected"{% endif %} click="$set:subtitleLocale:">None</li>
  </ul>
</div>
{% endif %}
