{% if video_is_360 and displayDevice == "html5" and isTouchDevice == true %}
  <div class="button-container">
    <button class="video-360-button" click="$set:toggleVRMode" aria-label="{{"Toggle VR mode"|translate}}" label="{{"Toggle VR mode"|translate}}" tabindex="1250">

      <span class="hide-visually">
        {{"Toggle VR mode"|translate}}
      </span>
    
    </button>
  </div>
{% endif %}
