{% if showBrowse and hasRecommendations %}
<div class="tray-button button browse-button {% if browseMode %}browse-button-off highlight-button{% else %}browse-button-on{% endif %}" click="$toggle:browseMode">
  <!--Browse-->
</div>
{% endif %}
