<div class="tray-button button {% if playing %}{% if isLive %}stop-button{% else %}pause-button{% endif %}{% else %}play-button{% endif %}" click="$toggle:playing" aria-label="{% if playing %}Play video{% else %}Pause video{% endif %}" label="{% if playing %}Play video{% else %}Pause video{% endif %}" role="button" tabindex="1000">
  {% if playing %}
  <!--Pause-->
  {% else %}
  <!--Play-->
  {% endif %}
</div>
