{% if hasSubtitles %}
<a href="#">
  Subs
</a>
<ul>
  {% for l in localesArray %} 
  <li><a href="$set:subtitleLocale:{{l.locale}}" {% if l.locale == subtitleLocale %}class="selected"{% endif %}>{{l.language}}</a></li>
  {% endfor %}
  <li><a href="$set:subtitleLocale:" {% if subtitleLocale == empty %}class="selected"{% endif %}>None</a></li>
</ul>
{% endif %}
