{% if hasSubtitles %}
<a href="#">
  Subs
</a>
<ul>
  {% for l in localesArray %} 
  <li {% if l.locale == subtitleLocale %}class="selected"{% endif %}><a href="$set:subtitleLocale:{{l.locale}}">{{l.language}}</a></li>
  {% endfor %}
  <li {% if subtitleLocale == empty %}class="selected"{% endif %}><a href="$set:subtitleLocale:">None</a></li>
</ul>
{% endif %}
