{% if video_title != empty or video_content != empty %}
  <div class="tray-button button info-button {% if showDescriptions == true %}highlight-button{% endif %}" click="$toggle:showDescriptions">
   Info
 </div>
{% endif %}
