{% if video_title != empty or video_content != empty %}
  <div class="tray-button button info-button {% if showDescriptions == true %}highlight-button{% endif %}" click="$toggle:showDescriptions" aria-label="Video information" label="Video information" role="button" tabindex="1200">
   <!--Info-->
 </div>
{% endif %}
