{% if playing and volumeMuted and mutedAutoPlay and ambient == false %}
  <div class="muted-auto-play">
    <div click="$toggle:mutedAutoPlay" class="muted-auto-play-button{% if unmuteButtonPosition == 'leftTop' %} align-left-top{% endif %}">
      Click to unmute
    </div>
  </div>
{% endif %}
