<div class="loop-container">
  <img crossorigin="anonymous" class="loop-thumbnail" src="{{ backgroundUrl|escape }}" />
  <div class="loop-container-sub">
    <div class="loop-container-cell">
      <h3 class="loop-headline">{{"next_video_in"|translate}} <span class="loop-countdown">5</span></h3>
      <div class="button-container button-container-loop-play">
        <button class="loop-play-button" click="$set:playLoopVideo"></button>
      </div>
      <h2 class="loop-title">{{ loopVideo.title|escape }}</h2>
      <p class="loop-duration">{{ loopVideo.video_length | formatTime }}</p>
    </div>
  </div>
  <div class="button-container button-container-close">
    <button class="close-button" click="$set:showLoop:false"></button>
  </div>
</div>
