.loop-container, .loop-container-sub {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loop-container {
    display: none;
    opacity: 0;
    transition: opacity 200ms linear;
    background: black;
}
.loop-container-activated {
    display: block;
    opacity: 1;
}
.loop-container-sub {
    display: table;
}
.loop-container-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-color: #1EC95B;
    border-width: 0px;
}

.loop-thumbnail {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.loop-headline {
    font-size: 16px;
}
.size-small .loop-headline, .size-tiny .loop-headline {
    font-size: 14px;
}
.button-container-loop-play {
    position: relative;
    background-color: #000000;
    width: 91px;
    height: 51px;
    margin: 16px auto;
}
.size-small .button-container-loop-play {
    width: 70px;
    height: 39px;
    margin: 10px auto;
}
.size-tiny .button-container-loop-play {
    display: none;
}
.button-container-loop-play > .loop-play-button {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1EC95B;
    transition: background-color 100ms linear;
}
.loop-title {
    font-size: 32px;
    line-height: 1.2em;
    margin: 10px 10% 0;
}
.size-small .loop-title {
    font-size: 24px;
    margin-bottom: 20px;
}
.size-tiny .loop-title {
    font-size: 20px;
    margin-bottom: 10px;
}
.loop-duration {
    font-size: 14px;
    color: #CCCCCC;
}
.size-small .loop-duration, .size-tiny .loop-duration {
    display: none;
}