.menu-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 9998;
}
.menu-list, .link-box {
  position: absolute;
  z-index: 9999;
  background: #222222;
  background: rgba(34,34,34,0.8);
  border-radius: 2px;  
}
.menu-list {
  padding:4px 0;
  display: block;
  font-size: 11px;
  top: 50px;
  left: 200px;
  width: 180px;
  height: auto;
}

.menu-list li.divider {
  height: 0;
  margin: 3px 0;
  border-bottom: 1px solid #222;
}

.menu-list li a {
  display: block;
  padding: 5px 10px 2px 10px;
  text-decoration: none;
  color: #AAAAAA;
  vertical-align: middle;
}
.menu-list li a:hover {
  color: #1EC95B;
}

.link-box {
  top: 50%;
  left: 20%;
  right: 20%;
  padding: 14px 16px;
  color: #777;
  margin-top: -50px;
}

.link-box h3, .link-box input, .close-link-box {
    color: #AAAAAA;
}

.link-box h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.link-box .input-wrap {
  position: relative;
  margin-right: 10px;
}

.link-box input {
  width: 100%;
  height: 24px;
  line-height: 24px;
  padding: 4px;
  font-size: 12px;
  border: none;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.5);
}

.close-link-box {
  margin-top: 11px;
  float: right;
  text-decoration: underline;
  cursor: pointer;
}
