.sections {
    position:absolute; 
    top:10px;
    left:10px;
    width:50%;
}
.section {
    position:absolute; 
    top:0;
    width:8px;
    height:8px; 
    margin:-1px 0 0 -5px;
    border:1px solid black;
    background-color:white;
    border-radius:5px;
    cursor:pointer;
}
.section-title {
    display:none;
}
