.player-vast, .vast-video, .vast-click-container {
    position:absolute; 
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.player-vast {
    display:none;
    background-color:black;
}
.vast-click-container {
    cursor:pointer;
}