{% if hasQualitySwitching %}
<div class="tray-button button quality-button">
  <!--Quality-->

  <ul>
    {% for q in qualitiesArray %} 
    <li {% if q.quality == quality %}class="selected"{% endif %} click="$set:quality:{{q.quality}}; $set:playing:true">
      {{q.displayName}}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}

