{% if hasSubtitles and enableSubtitles %}
<div class="subtitles-container" style="padding-bottom:{{verticalPadding}}px">
  {% for line in subtitleText %} 
    <span>{{line}}</span>
    <br/>
  {% endfor %} 
</div>
{% endif %}
