.subtitles-container {
    position:absolute;
    bottom:40px;
    width:100%;
    text-align:center;
    font-size:20px;
    line-height:32px;
    text-align:center;
}
.subtitles-container span {
    padding:3px 5px;
    margin:0 auto;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;  
}
.design-bars .subtitles-container span {
    background-color:black;
}