.subtitles-container {
    position:absolute;
    bottom:45px;
    width:100%;
    text-align:center;
    font-size:17px;
    line-height:29px;
    text-align:center;
}
.subtitles-container span {
    padding:3px 5px;
    margin:0 auto;
    text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;  
}
.design-bars .subtitles-container span {
    background-color:black;
    color: white;
}


.size-tiny .subtitles-container, .size-small .subtitles-container {
    display:none;
}
.size-large .subtitles-container {
    font-size:22px;
    line-height:34px;
}
.size-large .subtitles-container span {
    padding:5px 8px;
}
.size-full .subtitles-container {
    font-size:34px;
    line-height:54px;
}
.size-full .subtitles-container span {
    padding:6px 10px;
}
