{% player status-display %}
{% player core with "domain":"reference.dev.visualtube.net", "player_id":0 %}
{% player analytics %}

{% player playflow %}

<div id="player">
  <!-- Video display -->
  {% player video-display with "displayDevice":"html5" %}

  <div class="tray-subtitles">{% player subtitles %}</div>

  <!-- Control bar or tray -->
  <div id="info">{% player info %}</div>
  <div id="tray">
    <div class="tray-left">
      <div class="tray-button">{% player play-button %}</div>
    </div>
    
    <div class="tray-scrubber">
      {% player scrubber %}
      {% player sections %}
    </div>

    <div class="tray-right">
      {% if 0 %}<div class="tray-button">{% player playlist-button %}</div>{% endif %}
      {% if 0 %}<div class="tray-button">{% player share-button %}</div>{% endif %}
      <div class="tray-button">{% player volume-button %}</div>
      <div class="tray-button">{% player fullscreen-button %}</div>
      <div class="tray-button">{% player subtitle-button %}</div>
      <div class="tray-button">{% player quality-button %}</div>
      <div class="tray-button">{% player social-button with "service":"facebook" %}</div>
      <div class="tray-button">{% player social-button with "service":"twitter" %}</div>
      <div class="tray-button">{% player social-button with "service":"tumblr" %}</div>
    </div>

    {% player sharing %}
  </div>

  <div class="big-button tray-button">{% player big-play-button %}</div>
  {% player logo %}
</div>



