<!-- switching, fullscreen button -->

{% player status-display %}
{% player core with "domain":"videos.23video.com" %}
{% player analytics %}
{% player sharing %}

<div id="player">
  <!-- Video display -->
  {% player video-display with "displayDevice":"html5","quality":"hd" %}

  <div class="tray-subtitles">{% player subtitles %}</div>
  <div id="info">{% player info %}</div>

  <div class="big-button tray-button">{% player big-play-button %}</div>

  {% player paused %}
  
  <div id="top">
    {% player scrubber %}
    <div id="buttons">
      {% player play-button %}
      {% player fullscreen-button %}
      {% player quality-button %}
    </div>
  </div>
</div>

