/* RESET */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}

* focus, video, object, player, embed {outline:none}
* {-webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none;}

a img {border:0;}
body {
    margin:0; 
    background-color:black; 
    color:white; 
    font:11px/14px Helvetica; 
    overflow:hidden;
    font-family:'Antenna Light', Helvetica, sans-serif;
}
.player-design {background-color:black;}
#info {
    position:absolute;
    bottom:50px;
    left:0;
}
h1 span {
    font-size:24px;
    line-height:43px;
    background-color:#419539;
    height:43px;
    padding:2px 10px 0 10px;
    display:inline-block;
    margin-top:16px;
}

#top {display:none;}
#buttons {
    position:absolute;
    left:3px; 
    top:14px;
}
#buttons .player-play-button, #buttons .player-fullscreen-button, #buttons .player-quality-button {
    float:left;
}
#buttons div {
    width:22px;
    height:15px;
}
.pause-button {
    background:url('assets/pause.png') center center no-repeat;
}
.fullscreen-button {
    background:url('assets/fullscreen.png') center center no-repeat;
}
.quality-button {
    font-size:10px; 
    font-weight:bold; 
    padding-left:7px; 
    line-height:16px;
    cursor:pointer;
}

.player-big-play-button .button {
    width:90px;
    height:90px;
    background:url('assets/play.png') center center no-repeat;
    cursor:pointer;
}
.player-big-play-button .button:hover {
    background-image:url('assets/play-hover.png');
}


#paused {
    background-color:rgba(0,0,0,.4);
    position:absolute;
    width:100%;
    height:100%;
}
.share-buttons {
    position:absolute;
    bottom:45%;
    left:0;
    width:100%;
    text-align:center;
}
.share-button {
    cursor:pointer;
    width:90px;
    height:90px;
    margin:0 4px;
    display:inline-block;
}
.share-button-play {
    background-image:url('assets/play.png');
}
.share-button-replay {
    background-image:url('assets/replay.png');
}
.share-button-facebook {
    background-image:url('assets/facebook.png');
}
.share-button-twitter {
    background-image:url('assets/twitter.png');
}
.share-button-play:hover {
    background-image:url('assets/play-hover.png');
}
.share-button-replay:hover {
    background-image:url('assets/replay-hover.png');
}
.share-button-facebook:hover {
    background-image:url('assets/facebook-hover.png');
}
.share-button-twitter:hover {
    background-image:url('assets/twitter-hover.png');
}


.share-recommendations {
}
.share-recommendation p {
    height:28px; 
    overflow:hidden;
}
.share-recommendation {
    position:absolute;
    width:15%;
    bottom:5%;
    cursor:pointer;
}
.share-recommendation-1 {
    left:8%;
}
.share-recommendation-2 {
    left:31%;
}
.share-recommendation-3 {
    left:54%;
}
.share-recommendation-4 {
    left:77%;
}
.share-recommendation img {
    border-radius:2px;
    border:2px solid white;
    width:100%;
    margin:0 3px;
}
