{% if showInfo == true %}
  {% if video_title != empty or video_content != empty %}
    <div class="info-pane">
      {% if video_title != empty%}<h1>{{video_title|truncatewords:15}}</h1>{% endif %}
      {% if video_content != empty%}<div class="info-description"><p>{{video_content|truncatewords:30}}</p></div>{% endif %}
    </div>
  {% endif %}
{% endif %}
