{% if showDescriptions == true and currentTime <= 0 and playing == false %}
  {% if video_title != empty or video_content != empty %}
     {% if video_title != empty%}<h1><span>{{video_title}}</span></h1>{% endif %}
  {% endif %}
{% endif %}
