.logo {
    position:absolute;
    top:20px;
    left:20px;
    opacity:.8;
}
.logo.align-right {
    left: auto;
    right: 20px;
}
.logo img {
    display: none;
    width: auto;
    height: auto;
}
.size-tiny .logo {
    display:none !important;
}
