{% if showLogo == true and logoSource != empty and video_is_360 != true %}
  <div class="logo">
    <a href="{{siteLink|url_encode}}">
      <img src="{{logoSource|url_encode}}" />
    </a>
  </div>
{% endif %}
