.scrubber-container {
    position:absolute; 
    top:0;
    left:0;
    width:100%;
    height:6px;
    background-color:black;
    background-color:rgba(0,0,0,0.5);
}
.scrubber-buffer, .scrubber-play {
    position:absolute; 
    top:0;
    left:0;
    height:100%;
    width:0;
}
.scrubber-buffer {
    background-color:white;
    opacity:.5;
}
.scrubber-play {
    background-color:#165D0F;
    opacity:.75;
}
.scrubber-time {
    position:absolute; 
    top:12px;
    right:7px;
}