.scrubber-container {
    position:absolute; 
    top:0;
    left:0;
    width:100%;
    height:6px;
    background-color:black;
    background-color:rgba(0,0,0,0.5);
    cursor:pointer;
}
.scrubber-container:hover {
    height:13px;
}
.scrubber-buffer, .scrubber-play {
    position:absolute; 
    top:0;
    left:0;
    height:100%;
    width:0;
}
.scrubber-buffer {
    background-color:white;
    opacity:.5;
    filter: alpha(opacity=50);
}
.scrubber-play {
    background-color:#165D0F;
    opacity:.75;
    filter: alpha(opacity=75);
}
.scrubber-thumbnail {
    position:absolute;
    top:25px;
}
.scrubber-thumbnail img {
    border-radius:2px;
    border:2px solid white;
}
.scrubber-time {
    position:absolute; 
    top:12px;
    right:7px;
    text-shadow: #666 1px 1px 1px;
}