<div class="scrubber-container">
  <div class="scrubber-buffer"></div>
  <div class="scrubber-play"></div>
  <div class="scrubber-thumbnail"><img src="" /></div>
</div>
<div class="scrubber-time">
 <!-- populated through scrubber-time.liquid -->
</div>
