.player-playflow, .playflow-video, .playflow-click-container {
    position:absolute; 
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.player-playflow {
    display:none;
    background-color:black;
}
.playflow-click-container {
    cursor:pointer;
}