/* Alt style for circle, meant for display in the bottom */
.big-play-container-style-circle {
  --big-play-width: min(60px, 8vw);
  --big-play-height: min(60px, 8vw);
  --big-play-border-radius: 100%;
}
/* Alt style for slack style preview, meant for display in the bottom */
.big-play-container-style-lax {
  --big-play-background-color: rgba(0,0,0,.3);
  --big-play-icon-color-filter: url(#icon_white);
  --big-play-width: auto;
  --big-play-height: 30px;
  --big-play-border-radius: 5px;;

}

.big-play-container-style-lax .current-time {
  color: white;
  font-size: 12px;
  display: inline-block;
  padding: 0 12px 0 28px;
}
.big-play-container-style-lax .button-container > button::after {
  background-position: -5px center ;
}

/* Control hide show for play button */
.player-big-play-button .big-play-container {
  display: none;
  opacity: 0;
  transition: opacity 200ms linear;
}
.player-big-play-button.big-play-shown .big-play-container {
  display: block;
  opacity: 1;
}
.block-big-play .player-big-play-button .big-play-container {
  display: none  !important;
  opacity: 0 !important;
}
.player-big-play-button .big-play-container:hover {
  filter: saturate(1.1);
}

/* Position the play button in the center */
.big-play-container.big-play-container-position-center {
  position:absolute;
  margin: auto;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
}
.big-play-container.big-play-container-position-bottomLeft {
  position:absolute;
  left:10px;
  bottom: 10px;
}
.big-play-container.big-play-container-position-bottomRight {
  position:absolute;
  right:10px;
  bottom: 10px;
}

/* Size and design for the play */
.big-play-container {
  width: var(--big-play-width);
  height: var(--big-play-height);
}
.big-play-container .button-container {
  height:100%;
  width:100%;
  border-radius:var(--big-play-border-radius);
  overflow:hidden;
}
.big-play-container .button-container > .big-play-button {
  width: 100%;
  height: 100%;
  transition: background-color 100ms linear;
}
.big-play-button::after, .loop-play-button::after {
  background-size: auto 130%;
  filter: var(--big-play-icon-color-filter) !important;
  -webkit-filter: var(--big-play-icon-color-filter) !important;
}
.big-play-button,
.button-container > .loop-play-button,
.big-play-button:hover,
.button-container:hover > .loop-play-button {
  background-color: var(--big-play-background-color);
}
.currentTime {
  display:none;
}

/* Custom big play button */
.big-play-custom-container {
  width: 100px !important;
  height: 100px !important;
}
.big-play-custom-container .big-play-button {
  background: none !important;
  width: auto;
  height: auto;
}
.big-play-custom-container button img {
  display:block;
  cursor:pointer;
  width: auto;
  height: auto;
  max-width:100px;
  max-height:100px;
  filter: none !important;
  -webkit-filter: none !important;
}

/* Resizing for small players */
.size-small .big-play-container  {
  width: calc(var(--big-play-width)*0.8);
  height: calc(var(--big-play-height)*0.8);
}
.size-tiny .big-play-container  {
  width: calc(var(--big-play-width)*0.6);
  height: calc(var(--big-play-height)*0.6);
}
