.player-big-play-button .big-play-container {
    display: none;
    opacity: 0;
    transition: opacity 200ms linear;
}
.player-big-play-button.big-play-shown .big-play-container {
    display: block;
    opacity: 1;
}
.block-big-play .player-big-play-button .big-play-container {
    opacity: 0 !important;
}

.big-play-container {
    position:absolute; 
    top:0; 
    left:0; 
    width:91px; 
    height:51px;
}
.size-tiny .big-play-container {
    width: 70px;
    height: 39px;
}
.big-play-container table {
    width:100%;
    height:100%;
}
.big-play-container table td {
    width:100%;
    height:100%;
    vertical-align:middle;
}
.big-play-container .button-container {
    background: #000000;
}
.big-play-container .button-container > .big-play-button {
    width: 91px;
    height: 51px;
    transition: background-color 100ms linear;
}
.size-tiny .big-play-container .button-container > .big-play-button {
    width: 70px;
    height: 39px;
}

.big-play-custom-container {
    width: 100px !important;
    height: 100px !important;
}
.big-play-custom-container .big-play-button {
    background: none !important;
    width: auto;
    height: auto;
}
.big-play-custom-container button img {
    display:block;
    cursor:pointer;
    width: auto;
    height: auto;
    max-width:100px;
    max-height:100px;
    filter: none !important;
    -webkit-filter: none !important;
}
