/* Place the browse pane within the player */
.player-browse {
    position:absolute;
    bottom:40px;
    left:0;
    right:0;
}
.player-browse #browse {
    padding:10px 0;
    background-color:green;
}

/* Place left and right browsing with a carousel in the middle */
.browse-container, .browse-left, .browse-right {
    height:105px;
    overflow:hidden;
}
.browse-left, .browse-right {
    position:absolute;
    top:0;
    width:30px;
    cursor:pointer;
}
.browse-left {
    left:0;
}
.browse-right {
    right:0;
}
.browse-container {
    position:relative;
    margin:0 30px;
}

/* Thumbnails in a fully standard table, 
   makes sure we don't need to handle breaking
   or explicitly set the width */
table.browse-recommendations {
    position:absolute;
    top:0px;
    left:0px;
}
table.browse-recommendations td {
    width:120px;
    height:105px;
    cursor:pointer;
    padding:0 10px;
}
table.browse-recommendations img {
    width:120px;
    height:67px;
}
table.browse-recommendations div {
    line-height:16px;
    height:32px;
    overflow:hidden;
}
