/* ========================= BROWSER RESET ======================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,button{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}* focus, video, object, player, embed {outline:none} *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}iframe{border:0} input,textarea{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;-o-user-select:text;user-select:text;}iframe{border:0}button{background-color:transparent;}




/* ========================= GENERAL TAGS ======================== */
a img {border:0;}
html,body {
    width:100%;
    height:100%;
    background-color: #000000;
}
body {
    margin:0;
    color:white;  /*updated in js via player settings */
    font:11px/14px Helvetica;  /*updated in js via player settings */
    overflow:hidden;
}
h1 {
    font-size:20px; /*updated in js via player settings */
    line-height:2em;
    font-weight:normal; /*updated in js via player settings */
    letter-spacing:.3px;
}
p {
    font-size:15px; /*updated in js via player settings */
    font-weight:normal; /*updated in js via player settings */
    line-height:1.5em;
    letter-spacing:.3px;
}
.share-buttons button, .submitbutton {
    background-color:#3B3B3C;
    color:white; /*updated in js via player settings */
    font-size:11px;
    padding:0 5px 0 30px;
    border:none;
    background-repeat:no-repeat;
    background-position:center center;
    cursor:pointer;
    height:30px;
    line-height:32px;
    margin-right:10px;
}
.submitbutton {
    padding-left:5px;
    font-size:14px;
}
body.hide-cursor, body.hide-cursor * {
    cursor: none;
}


/* ========================= GENERIC CLASSES ======================== */

/* === buttons === */
.button { /* standard button design */
    position:relative;
    height:36px;
    width:36px;
    /*background-color:black;  /*updated in js via player settings */
    background-position:center center;
    background-repeat:no-repeat;
    opacity:.8;
    cursor:pointer;
    font-size:0;
    box-sizing: content-box;
}
.tray-left .button {
    height: 36px;
    width: 40px;
}
.tray-left .button {
    border-right: 1px solid black;
}
.tray-right .button {
    border-left: 1px solid black;
}
.highlight-button {
    opacity:1 !important;
}
.button:hover, .activebutton, .highlight-button {
    opacity:1;
    background-color: #1E1E1E;
    -webkit-box-shadow: inset 0 0 1px black;
    -moz-box-shadow: inset 0 0 1px black;
    box-shadow: inset 0 0 1px black;

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}
.button.big { /* big version of same button */
    height:50px;
    width:50px;
    border-radius:1px;
}
ul.button-list { /* button menus */
    display:none;
    opacity:0;
    position:absolute;
    bottom:36px;
    right:0;
    background-color: #272727;
    line-height:25px;
    padding:2px 10px;
    text-align:left;
}
.activebutton-container ul.button-list {
    display: block;
    font-size:11px;
    line-height:22px;
    opacity: 1;
    -webkit-animation: menuSlideIn 400ms;
    -moz-animation: menuSlideIn 400ms;
    animation: menuSlideIn 400ms;
}
.hide-visually {
    text-indent: -9999px;
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

.button-list li { /* menu items */
    white-space:nowrap;
    background:url('not-selected-icon.png') -10px -5px no-repeat;
    padding-left:14px;
    cursor: pointer;
}
.button-bulletless li {
    background-image:none !important;
    padding-left:0;
}
.button-list li.hover { /* menu item hover */
}
.button-list li.selected { /* menu item selected */
    background-image:url('selected-icon.png');
}
a.button { /* standard button design as a straight link */
    display:inline-block;
    *display:inline;
    *zoom:1;
    border:1px solid #333;
    height:36px;
    width:36px;
    border-radius:2px;
    background-color:black;  /*updated in js via player settings */
    background-position:center center;
    background-repeat:no-repeat;
    opacity:.8;
    cursor:pointer;
    font-size:0;
    text-decoration:none;
}
/* === /buttons === */




/* ========================= OVERALL GRID ======================== */

/* === tray === */
#tray { /* tray position */
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
.tray-navigation {
    *filter: alpha(enabled=false) !important; /* IE alpha overflow hidden bug, http://labs.thesedays.com/blog/2011/06/02/ie-alpha-overflow-hidden-bug/ */
    position:relative;
    margin:0;
    background: url(tray-bg.png) repeat-x;
    height: 36px;

    -webkit-box-shadow: 0px 4px 6px black;
    -moz-box-shadow: 0px 4px 6px black;
    box-shadow: 0px 4px 6px black;
}
.tray-left .tray-button { /* buttons left of scrubber */
    float:left;
    margin-right:3px;
}
.tray-right .tray-button { /* buttons right of scrubber */
    float:right;
    padding: 0 1px;
}
.tray-scrubber {  /* scrubber position */
    margin:0 200px 0 33px; /* this will be updated using JS to fix the with of .tray-left and .tray-right */
}
.tray-scrubber-sub {
    position:relative;
}
/* === /tray === */

/* Volume */

ul.volume-button-list {
    padding: 0;
    margin: 0;
    width: 38px;
    list-style: none;
}

ul.volume-button-list li {
    width: 38px;
    height: 100px;
    padding: 0;
    margin: 0;
    background-image: none !important;
    background-color:#222;
    position: relative;
}
.volume-button-list .volume-track, .volume-button-list .volume-filled {
    position: absolute;
    width: 5px;
    bottom: 8px;
    left: 17px;
}
.volume-button-list .volume-track {
    top: 14px;
    background-color: #000000;
}
.volume-button-list .volume-filled {
    height: 30px;
    background-color: #BBBBBB;
}
.volume-button-list .volume-handle {
    position: absolute;
    height: 30px;
    background-color: #FFFFFF;
    width: 9px;
    height: 9px;
    border-radius: 5px;
    bottom: 4px;
    left: 15px;
}


/* ========================= INDIVIDUAL MODULES ======================== */

/* === Module: Scrubber === */
.scrubber-container {
    position:relative;
    height:32px;
    border-radius:2px;
    filter: alpha(enabled=false) !important; /* IE alpha overflow hidden bug, http://labs.thesedays.com/blog/2011/06/02/ie-alpha-overflow-hidden-bug/ */
}
.scrubber {
    position:absolute;
    top:1px;
    left:10px;
    right:50px;
    height:32px;
    cursor:pointer;
}
.scrubber-track, .scrubber-buffer, .scrubber-play {
    position:absolute;
    top:14px;
    left:0;
    height:7px;
    width:0;
    cursor:pointer;
}
.scrubber-track {
    width:100%;
    background:rgb(15,15,15);
    background:rgba(15,15,15,.95);

    -webkit-box-shadow: inset 0 0 4px black;
    -moz-box-shadow: inset 0 0 4px black;
    box-shadow: inset 0 0 4px black;
}
.scrubber-buffer {
    background-color:#444;
}
.scrubber-play {
    background-color:rgb(230,230,230); /*updated in js via player settings */
}
.scrubber-handle {
    display:none;
    cursor:pointer;
    position:absolute;
    top:7px;
    background-color:#eee;
    border-radius:1px;
    font-size:9px;
    line-height:9px;
    color:#333;
    padding:4px 4px 2px 4px;
    z-index:10;
}
.scrubber-container-hover .scrubber-handle {
    display:block;
}
.scrubber-time {
    position:absolute;
    top: 12px;
    right: 10px;
}
.scrubber-thumbnail {
    position:absolute;
    bottom:40px;
    border:1px solid #999;
    display:none;
}
.scrubber-thumbnail-sub {
    background-repeat: 'no-repeat';
    width:100%;
    height:100%;
}
/* === /Sharing === */

/* === Module: Sections === */
.sections {
    position:absolute;
    top:13px;
    left:10px;
    right:50px;
    height:0; /* for ie7's sake, otherwise this element covers the scrubber  */
}
.section {
    position:absolute;
    top:0;
    width:5px;
    height:10px;
    margin:0 0 0 -2px;
    background-color:#ccc;
    cursor:pointer;
    box-shadow: 0px 0 6px black;
}
.section:hover {
    background-color:white;
}
.section-title {
    display:none;
    position: absolute;
    bottom: 36px;
    white-space: nowrap;
    padding: 6px 8px;
}

.section:hover .section-title {
    display: block;
}
/* === /Sections === */

/* === Module: Info === */
.info-pane {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50%;
    margin:0;
    background:rgb(0,0,0); /*fallback for browser with no RGBa support */
    background:rgba(0,0,0,.8); /*updated in js via player settings */
    border-radius:2px;
    padding:5px 10px 8px 10px;
}
/* === /Info === */

/* === Module: Sharing === */
.sharing-container {
    background:rgb(0,0,0); /*fallback for browser with no RGBa support */
    background:rgba(0,0,0,.8); /*updated in js via player settings */
    padding:16px 40px;
}
#share-left {
    float: left;
}
#share-right {
    float: right;
}
#embed-container {
    position: absolute;
    left: 200px;
    right: 165px;
}
#embed-container input {
    width:100%;
    line-height:28px;
    font-size:12px;
    height:22px;
    padding:3px;
    border:none;
    background-color:white;
    box-shadow: inset 0 0 6px #666;
}
/*.share-embed-label {
    background-image:url('embed-icon.png');
    width: 30px;
    height: 30px;
}*/
.share-buttons {
    height:30px;
    overflow:hidden;
}
/* === /Sharing === */

/* === Module: Browse === */
/* Place the browse pane within the player */
.player-browse #browse {
    position:relative;
    padding:10px 2px;
    background:rgb(0,0,0); /*fallback for browser with no RGBa support */
    background:rgba(0,0,0,.8); /*updated in js via player settings */
}
/* Place left and right browsing with a carousel in the middle */
.browse-container, .browse-left, .browse-right {
    height:105px;
    overflow:hidden;
}
.browse-left, .browse-right {
    position:absolute;
    top:0;
    width:30px;
    cursor:pointer;
    background-position:center center;
    background-repeat:no-repeat;
    opacity:.8;
}
.browse-left {
    left:0;
    background-image:url('prev-icon.png');
}
.browse-right {
    right:0;
    background-image:url('next-icon.png');
}
.browse-container {
    position:relative;
    margin:0 30px;
}
/* Thumbnails in a fully standard table,
   makes sure we don't need to handle breaking
   or explicitly set the width */
table.browse-recommendations {
    position:absolute;
    top:0px;
    left:0px;
}
table.browse-recommendations td {
    width:120px;
    height:105px;
    cursor:pointer;
    padding:0 10px;
}
table.browse-recommendations img {
    width:120px;
    height:67px;
}
table.browse-recommendations div {
    line-height:16px;
    height:32px;
    overflow:hidden;
}
/* === /Browse === */

/* Button graphics */
.play-button {background-image:url('play-icon.png');}
.big-play-button {background-image:url('big-play-icon.png');}
.pause-button {background-image:url('pause-icon.png');}
.stop-button {background-image:url('stop-icon.png');}
.facebook-button {background-image:url('facebook-icon.png');}
.twitter-button {background-image:url('twitter-icon.png');}
.google-button {background-image:url('google-icon.png');}
.site-button {background-image:url('site-icon.png');}
.browse-button-on {background-image:url('browse-on-icon.png');}
.browse-button-off {background-image:url('browse-off-icon.png');}
.share-button {background-image:url('share-icon.png');}
.info-button {background-image:url('info-icon.png');}
.volume-button, .volume-button-on {background-image:url('volume-on-icon.png');}
.volume-button-off {background-image:url('volume-off-icon.png');}
.fullscreen-button {background-image:url('fullscreen-icon.png');}
.mail-button {background-image:url('mail-icon.png');}
.quality-button {background-image:url('quality-icon.png');}
.subtitle-button {background-image:url('subtitle-icon.png');}
.download-button {background-image:url('download-icon.png');}

/* Hover color for sharing buttons */
.site-button:hover, .mail-button:hover, .facebook-button:hover, .twitter-button:hover, .google-button:hover {
    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.site-button:hover {background-color: #47953e;}
.mail-button:hover {background-color: #92008b;}
.facebook-button:hover {background-color: #3c5a98;}
.twitter-button:hover {background-color: #2ba9e1;}
.google-button:hover {background-color: #dd4b38;}

/* Hide a number of elements in very small players */
.size-tiny .info-button,
.size-tiny .share-button,
.size-tiny .browse-button-on,
.size-tiny .browse-button-off,
.size-tiny .quality-button,
.size-tiny .subtitle-button,
.size-tiny .tray-scrubber,
.size-tiny .info-pane,
.size-tiny .sharing-container,
.size-tiny .player-browse #browse {
    display:none !important;
}

/* Hide some elements in slightly small players */
.size-small .info-description,
.size-small .subtitle-button,
.size-small .info-button,
.size-small .browse-button-on,
.size-small .browse-button-off,
.size-small .sharing-container #embed-container,
.size-small .player-browse #browse {
    display:none;
}

/* All graphics in retina version */
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .play-button {background-image:url('play-icon@2x.png'); background-size:30px;}
    .big-play-button {background-image:url('big-play-icon@2x.png'); background-size:60px;}
    .pause-button {background-image:url('pause-icon@2x.png'); background-size:30px;}
    .stop-button {background-image:url('stop-icon@2x.png'); background-size:30px;}
    .facebook-button {background-image:url('facebook-icon@2x.png'); background-size:30px;}
    .twitter-button {background-image:url('twitter-icon@2x.png'); background-size:30px;}
    .google-button {background-image:url('google-icon@2x.png'); background-size:30px;}
    .site-button {background-image:url('site-icon@2x.png'); background-size:30px;}
    .browse-button-on {background-image:url('browse-on-icon@2x.png'); background-size:30px;}
    .browse-button-off {background-image:url('browse-off-icon@2x.png'); background-size:30px;}
    .share-button {background-image:url('share-icon@2x.png'); background-size:30px;}
    .info-button {background-image:url('info-icon@2x.png'); background-size:30px;}
    .volume-button, .volume-button-on {background-image:url('volume-on-icon@2x.png'); background-size:30px;}
    .volume-button-off {background-image:url('volume-off-icon@2x.png'); background-size:30px;}
    .fullscreen-button {background-image:url('fullscreen-icon@2x.png'); background-size:30px;}
    .mail-button {background-image:url('mail-icon@2x.png'); background-size:30px;}
    .quality-button {background-image:url('quality-icon@2x.png'); background-size:30px;}
    .subtitle-button {background-image:url('subtitle-icon@2x.png'); background-size:30px;}
    .download-button {background-image:url('download-icon@2x.png'); background-size:30px;}

    ul.button-list li {background-image:url('not-selected-icon@2x.png'); background-size:30px;}
    ul.button-list li.selected {background-image:url('selected-icon@2x.png'); background-size:30px;}
    .share-embed-label {background-image:url('embed-icon@2x.png'); background-size:30px;}
    .browse-left {background-image:url('prev-icon@2x.png'); background-size:30px;}
    .browse-right {background-image:url('next-icon@2x.png'); background-size:30px;}
}


/* CSS Animations and Transitions */
@-moz-keyframes menuSlideIn {
    from {opacity:0; margin-bottom:-15px;}
    to {opacity:1;}
}
@-webkit-keyframes menuSlideIn {
    from {opacity:0; margin-bottom:-15px;}
    to {opacity:1;}
}
@keyframes menuSlideIn {
    from {opacity:0;margin-bottom:-15px;}
    to {opacity:1;}
}