/* ========================= BROWSER RESET ======================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}* focus, video, object, player, embed {outline:none} *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}iframe{border:0} input,textarea{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;-o-user-select:text;user-select:text;}iframe{border:0}




/* ========================= GENERAL TAGS ======================== */
a img {border:0;}
body {
    margin:0; 
    background-color:black; 
    color:white; 
    font:11px/14px Helvetica; 
    overflow:hidden;
}
h1 {
    font-size:15px;
    line-height:27px;
    font-weight:bold;
}
p {
    font-size:13px;
    line-height:18px;
}




/* ========================= GENERIC CLASSES ======================== */

/* === buttons === */
div.button { /* standard button design */
    position:relative;
    height:30px;
    width:30px;
    border-radius:2px;
    background-color:black; 
    background-position:center center;
    background-repeat:no-repeat;
    background-size:30px 30px;
    opacity:.8;
    cursor:pointer;
    font-size:0;
}
div.button:hover {
    opacity:1;
}
div.button.big { /* big version of same button */
    height:60px;
    width:60px;
    border-radius:3px;
    background-size:60px 60px;
}
div.button ul { /* button menus */
    display:none;
    opacity:0;
    position:absolute;
    bottom:32px; 
    right:0;
    background-color:black; 
    line-height:25px;
    padding:2px 10px;
    text-align:left;
}
div.button:hover ul {
}
div.activebutton ul { /* active button menus */
    display:block;
    font-size:11px;
    line-height:22px;
    opacity:.8;
}
div.button ul li { /* menu items */
    white-space:nowrap;
    background:url('not-selected-icon.png') -10px -5px no-repeat;
    background-size:30px 30px;
    padding-left:14px;
}
div.button ul li.hover { /* menu item hover */
}
div.button ul li.selected { /* menu item selected */
    background-image:url('selected-icon.png');
}
a.button { /* standard button design as a straight link */
    display:inline-block; 
    *display:inline; 
    *zoom:1; 
    border-radius:3px;
    border:1px solid #333;
    height:30px;
    width:30px;
    border-radius:2px;
    background-color:black; 
    background-position:center center;
    background-repeat:no-repeat;
    background-size:30px 30px;
    opacity:.8;
    cursor:pointer;
    font-size:0;
    text-decoration:none;
}
/* === /buttons === */




/* ========================= OVERALL GRID ======================== */

/* === tray === */
#tray { /* tray position */
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
table.tray-navigation {
    margin:2px 0 2px 2px;
}
.tray-navigation td {
    height:30px;
    white-space:nowrap;
}
.tray-right { /* right-hand side */
}    
.tray-left { /* left-hand side */
}    
.tray-scrubber { /* scrubber position */
    position:relative;
    width:100%;
    padding-right:2px;
}
.tray-scrubber-sub {
    position:relative;
}
.tray-button { /* buttons positioning  */
    border-right: 2px solid transparent;
}
/* === /tray === */




/* ========================= INDIVIDUAL MODULES ======================== */

/* === Module: Scrubber === */
.scrubber-container {
    position:relative;
    height:30px;
    background-color:black;
    background-color:rgba(0,0,0,.8);
    border-radius:2px;
}
.scrubber {
    position:absolute; 
    top:12px;
    left:10px;
    right:10px;
    height:6px;
    background-color:#888;
    cursor:pointer;
}
.scrubber-buffer, .scrubber-play {
    position:absolute; 
    top:0;
    left:0;
    height:100%;
    width:0;
}
.scrubber-buffer {
    background-color:#666;
}
.scrubber-play {
    background-color:#eee;
}
.scrubber-handle {
    display:none;
    position:absolute;
    top:-5px;
    background-color:#eee;
    border-radius:3px;
    font-size:9px;
    line-height:9px;
    color:#333;
    padding:4px 4px 2px 4px;
    z-index:10;
}
.scrubber-container-hover .scrubber-handle {
    display:block;
}
.scrubber-time {
    display:none;
    position:absolute; 
}
.scrubber-thumbnail {
    position:absolute;
    bottom:25px;
    border-radius:2px;
    border:2px solid white;
    background-repeat: 'no-repeat';
    display:none;
}
/* === /Sharing === */

/* === Module: Sections === */
.sections {
    position:absolute; 
    top:10px;
    left:10px;
    right:10px;
}
.section {
    position:absolute; 
    top:0;
    width:8px;
    height:8px; 
    margin:0px 0 0 -4px;
    border:1px solid black;
    background-color:#ccc;
    border-radius:5px;
    cursor:pointer;
}
.section-title {
    display:none;
}
/* === /Sections === */

/* === Module: Info === */
.info-pane {
    margin:0 2px;
    background-color:black;
    background-color:rgba(0,0,0,.8);
    border-radius:3px;
    padding:5px 10px 8px 10px;
}
.info-description {
}
/* === /Info === */

/* === Module: Sharing === */
.sharing-container {
    padding:10px 2px;
    background-color:black;
    background-color:rgba(0,0,0,.8);
}
table.share-embed {
    width:100%;
}
table.share-embed {
    width:100%;
}
table.share-embed td {
    padding-right:5px;
    white-space:nowrap;
}
table.share-embed td.embed-code  {
    width:100%;
    padding-right:0;
}
table.share-embed input {
    width:90%;
    max-width:400px;
    line-height:20px;
    font-size:11px;
    height:20px;
    padding:3px;
    background-color:#ccc;
    opacity:.8;
}
/* === /Sharing === */

/* === Module: Browse === */
/* Place the browse pane within the player */
.player-browse {}
.player-browse #browse {
    position:relative;
    padding:10px 2px;
    background-color:black;
    background-color:rgba(0,0,0,.8);
}
/* Place left and right browsing with a carousel in the middle */
.browse-container, .browse-left, .browse-right {
    height:105px;
    overflow:hidden;
}
.browse-left, .browse-right {
    position:absolute;
    top:0;
    width:30px;
    cursor:pointer;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:20px 20px;
    opacity:.7;
}
.browse-left {
    left:0;
    background-image:url('prev-icon.png');
}
.browse-right {
    right:0;
    background-image:url('next-icon.png');
}
.browse-container {
    position:relative;
    margin:0 30px;
}
/* Thumbnails in a fully standard table, 
   makes sure we don't need to handle breaking
   or explicitly set the width */
table.browse-recommendations {
    position:absolute;
    top:0px;
    left:0px;
}
table.browse-recommendations td {
    width:120px;
    height:105px;
    cursor:pointer;
    padding:0 10px;
}
table.browse-recommendations img {
    width:120px;
    height:67px;
}
table.browse-recommendations div {
    line-height:16px;
    height:32px;
    overflow:hidden;
}
/* === /Browse === */




.play-button {background-image:url('play-icon.png');}
.pause-button {background-image:url('pause-icon.png');}
.facebook-button {background-image:url('facebook-icon.png');}
.twitter-button {background-image:url('twitter-icon.png');}
.google-button {background-image:url('google-icon.png');}
.site-button {background-image:url('site-icon.png');}
.browse-button-on {background-image:url('browse-on-icon.png');}
.browse-button-off {background-image:url('browse-off-icon.png');}
.share-button {background-image:url('share-icon.png');}
.volume-button-on {background-image:url('volume-on-icon.png');}
.volume-button-off {background-image:url('volume-off-icon.png');}
.fullscreen-button {background-image:url('fullscreen-icon.png');}
.quality-button {background-image:url('quality-icon.png');}
.subtitle-button {background-image:url('subtitle-icon.png');}
