{% player core %}
{% player accessibility %}
{% player protection %}
{% player analytics %}

<div id="player">
  <!-- Video display -->
  {% player video-display %}
  {% player actions %}

  {% player status-display %}
  {% player live-preview %}

  {% player info %}

  {% player subtitles %}
  {% player logo %}
  {% player big-play-button %}

  {% player browse %}

  <!-- Control bar or tray -->
  <div id="tray">
    {% player sharing %}

    <div class="tray-navigation">
      <ul class="tray-left">
        {% player play-button %}
      </ul>

      <div class="tray-right">
        {% player share-button %}
        {% player fullscreen-button %}
        {% player volume-button %}
        {% player subtitle-button %}
        {% player download-button %}
        {% player quality-button %}
        {% player browse-button %}
      </div>

      <div class="tray-scrubber">
        <div class="tray-scrubber-sub">
          {% player scrubber %}
          {% player sections %}
        </div>
      </div>
    </div>

  </div>
</div>
