/* ========================= BROWSER RESET ======================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,button{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}* focus, video, object, player, embed {outline:none} *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}iframe{border:0} input,textarea{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;-o-user-select:text;user-select:text;}iframe{border:0}button{background-color:transparent;}

/* ========================= GENERAL TAGS ======================== */
a img {border:0;}
html, body, .player-design, #player {
    /* Make sure that iOS Safari doesn't try to expand the player iframe */
    position: relative;
    width:100%;
    height:100%;
    background-color: #000000;
    overflow:hidden;
}
body {
    margin:0;
    color:white;  /*updated in js via player settings */
    font:11px/14px Helvetica;  /*updated in js via player settings */

    scrollbar-base-color: #000;
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #555;
    scrollbar-arrow-color: #555;
    scrollbar-shadow-color: #000;
    scrollbar-dark-shadow-color: #000;
}
h1 {
    font-size:14px; /*updated in js via player settings */
    line-height:2em;
    font-weight:normal;
    letter-spacing:.3px;
}
p {
    font-size:12px; /*updated in js via player settings */
    font-weight:normal; /*updated in js via player settings */
    line-height:1.5em;
    letter-spacing:.3px;
}
.clear {
    clear: both;
}
.selectable, .selectable * {
    -webkit-user-select: initial;
    -moz-user-select: initial;
    -ms-user-select: initial;
    -o-user-select: initial;
    user-select: initial;
}
.hide-visually {
    text-indent: -9999px;
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

/* ========================= GENERIC CLASSES ======================== */

/* === buttons === */
.button-container {
    position: relative;
}
.button-container > button { /* standard button design */
    display: block;
    position:relative;
    height:40px;
    width:40px;
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
    font-size:0;
}
ul.button-menu {
    position: absolute;
    bottom: 100%;
    right: 0px;
    height: 0;
    background-color: #1E1E1E;
    padding: 0px;
    font-size: 0;
    overflow: hidden;
    transition: height 200ms ease;
}
.button-container:hover ul.button-menu, .button-container-active ul.button-menu {
    height: 1em;
}
ul.button-menu li {
    display: block;
    text-align: right;
    font-size: 11px;
    background: transparent none 10px center no-repeat;
}
ul.button-menu li button { /* menu items */
    height: 30px;
    padding: 0 14px 0 20px;
    line-height: 30px;
    text-align: right;
    white-space:nowrap;
    color: white;
    cursor: pointer;
    color: #AAAAAA;
    width: auto; /* Display buttons with correct width in IE7 http://jehiah.cz/a/button-width-in-ie */
    overflow: visible; /* See above */
}
ul.button-menu li:hover button { color: #1EC95B; }

/* Hack for IE7 to display menus properly */
ul.button-menu {
    *overflow: visible;
    *visibility: hidden;
}
.button-container:hover ul,
.button-container:hover li,
.button-container:hover button {
    *visibility: visible;
}

/* Menu with selection */
ul.button-menu-selection li.selected { background-image:url('checkmark.png'); }
ul.button-menu-selection li.selected button { color: #FFFFFF; }
ul.button-menu-selection li button { padding-left: 30px; }
ul.button-menu-selection li.selected:hover button { color: #FFFFFF; }

/* Close button for overlays */
.button-container-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* === /buttons === */




/* ========================= OVERALL GRID ======================== */

/* === tray === */
#tray {
    position:absolute;
    bottom:-20px;
    bottom:-40px\9;
    left:0;
    width:100%;
    opacity: 0;
    transition: all 100ms linear;
}
.tray-shown #tray {
    bottom: 0;
    opacity: 1;
}
.block-tray #tray {
    bottom: -40px !important;
}
.persist-tray #tray {
    bottom: 0 !important;
    opacity: 1 !important;
}
#traysub {
    max-width: 1200px;
    margin: 0 auto;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAkCAYAAABIdFAMAAAAO0lEQVR42mXEOQ0AQAgAMKzwPxsC8O/nFNxKQofCzDzo7gdVdcrMXUSc3H1nZidV3YnIiZl3RLRDxNUH4uQyVoLXb7MAAAAASUVORK5CYII=') repeat-x;
    -webkit-box-shadow: 0 4px 6px #000;
    -moz-box-shadow: 0 4px 6px #000;
    box-shadow: 0 4px 6px #000;
}
@media all and (min-width: 1200px) {
    #traysub {
        width: 800px;
    }
}
.tray-left {
    float:left;
}
.tray-left .button-container {
    border-right: 1px solid #000;
}
.tray-left .button-container button {
    width: 38px;
    height: 36px;
    transition: background-color 200ms linear;
}
.tray-right .button-container { /* buttons right of scrubber */
    float:right;
    border-left: 1px solid #000;
}
.tray-right .button-container:hover {
    background-color: #1E1E1E;
    -webkit-box-shadow: inset 0 0 1px #000;
    -moz-box-shadow: inset 0 0 1px #000;
    box-shadow: inset 0 0 1px #000;
}
.tray-right .button-container > button {
    width: 38px;
    height: 36px;
}
.tray-scrubber {  /* scrubber position */
    position: relative;
    margin: 0;
    margin-left: 39px; /* Width of play/pause button */
    margin-right: 0; /* Width of buttons to the right of the scrubber. Updated in js. */
    padding: 0 10px;
}
/* === /tray === */



/* ========================= INDIVIDUAL MODULES ======================== */

/* === Module: Scrubber === */
.scrubber-container {
    position:relative; 
    height:36px;
}
.scrubber {
    position: relative;
    margin-right: 70px;
    height: 100%;
    cursor:pointer;
}
.scrubber-track {
    position: relative;
    top: 16px;
    height: 4px;
}
.scrubber-buffer, .scrubber-play {
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:0;
    transition: width 100ms ease;
}
.scrubber-track {
    width:100%;
    background-color:#222222;
}
.scrubber-buffer {
    background: #1EC95B;
    opacity: 0.2;
}
.scrubber-play {
    background-color: #1EC95B;
}

.scrubber-thumbnail {
    display:none;
    position:absolute;
    left: 0;
    bottom:44px;
    width: 94px;
    border:2px solid #222222;
    overflow: hidden;
}
.tray-shown .scrubber:hover .scrubber-thumbnail {
    display: block;
}
.touch .scrubber-thumbnail {
    display: none !important;
}
.scrubber-thumbnail img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.scrubber-thumbnail-time-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.scrubber-thumbnail-time {
    padding: 4px;
    background: #222222;
    background: rgba(34,34,34,0.8);
    font-size: 10px;
    line-height: 1em;
}

.time-container {
    position: absolute;
    top: 13px;
    right: 0;
    height: 10px;
    font-size: 10px;
    line-height: 1em;
}
.video-stream .time-container {
    padding-left: 10px;
    background: transparent url("live-dot.png") left center no-repeat;
    background-image: linear-gradient(transparent, transparent), url("live-dot.svg");
    background-size: 6px;
}
.video-stream .time-container span {
    color: #FA4646;
    padding-right: 4px;
}
/* === /Scrubber === */

/* === Module: Sections === */
.sections-container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -5px;
    padding: 0 10px;
}
.sections {
    position:relative;
    margin-right: 70px;
}
.section {
    position:absolute; 
    top:0;
    width:4px;
    height:10px; 
    margin-left: -2px;
    background: #CCC;
    cursor:pointer;
    transition: background 200ms linear;
}
.section:hover {
    background: #FFF;
}
.section-title {
    display:none;
    opacity: 0;
    visibility: hidden\9;
    position: absolute;
    bottom: 28px;
    left: -50px;
    max-width: 120px;
    padding: 10px 14px;
    font-size: 13px;
    line-height: 13px;
    white-space: nowrap;
    background: rgb(34,34,34);
    background: rgba(34,34,34,0.9);
    border: 1px solid rgb(64,64,64);
    overflow: hidden;
    text-overflow: ellipsis;
    transition: opacity 200ms linear;
}
#tray:hover .section-title {
    display: block;
}
.section:hover .section-title {
    opacity: 1;
    visibility: visible;
}
/* === /Sections === */

/* === Module: Volume button === */
.volume-slider {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #1E1E1E;
    overflow: hidden;
    transition: height 200ms ease;
}
.tray-shown .button-container:hover .volume-slider, .tray-shown .button-container-active .volume-slider {
    display: block;
    height: 100px;
}
.volume-slider-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    cursor: pointer;
}
.volume-slider .volume-track {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 17px;
    width: 4px;
    background-color: #000;
}
.volume-slider .volume-level {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #1EC95B;
    transition: height 100ms linear;
}
.volume-button-off img.volume-off-icon, .volume-button-on img.volume-on-icon {
    display: none;
}
/* === /Volume button === */

/* === Module: Info === */
.info-overlay {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 200ms linear;
}
.block-info .info-overlay {
    opacity: 0;
}
.info-overlay-text {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 7% 6%;
    background:transparent url(info-gradient.png) left bottom repeat-x;
    *background:rgb(0,0,0); /* IE 7 */
    background-size: auto 100%;
}
.info-overlay-live {
    position: relative;
    height: 13px;
    line-height: 13px;
    font-size: 10px;
    padding-left: 24px;
    color: #FA4646;
    margin-bottom: 10px;
}
.info-overlay-live-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 11px;
    width: 17px;
    border: 1px solid #FA4646;
    background: transparent url(live-icon.png) center center no-repeat;
    background-image: linear-gradient(transparent, transparent), url(live-icon.svg);
    background-size: 13px;
}
.info-overlay-title {
    font-size: 26px;
    color: #FFFFFF;
    line-height: 1.2em;
    margin-bottom: 0.2em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-overlay-domain {
    font-size: 14px;
    color: #CCCCCC;
    text-decoration: none;
}
a.info-overlay-domain:hover {
    text-decoration: underline;
}
.size-small .info-overlay-text { padding: 5% 6%; }
.size-small .info-overlay-title { font-size: 18px; white-space: nowrap; }
.size-small .info-overlay-domain { font-size: 12px; }
.size-tiny .info-overlay-text { padding: 5% 6%; }
.size-tiny .info-overlay-title { font-size: 16px; white-space: nowrap; }
.size-tiny .info-overlay-domain { font-size: 10px; }
/* === /Info === */

/* === Module: Share button === */
.button-container-share {
    opacity: 0;
    position: absolute;
    top: 12px;
    right: 12px;
    transition: opacity 200ms linear;
}
.tray-shown .button-container-share {
    opacity: 1;
}
body.overlay-shown .button-container-share {
    opacity: 0;
}
/* === /Share button === */

/* === Module: Sharing === */
.sharing-container {
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(0,0,0);
    background:rgba(0,0,0,.6);
    transition: opacity 200ms linear;
}
.sharing-container-active {
    display: block;
    opacity: 1;
}
.sharing-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 3% 50px 3% 5%;
}
.sharing-info h3 {
    font-size: 26px;
    line-height: 1.2em;
}
.sharing-info a {
    display: block;
    font-size: 14px;
    line-height: 1.2em;
    color: #AAAAAA;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sharing-info .current-time-select {
    display: none;
    font-size: 14px;
    line-height: 1em;
    height: 1em;
    margin: 8px 0;
}
.video-clip .sharing-info .current-time-select {
    display: block;
}
.playflow-position-1 .sharing-info .current-time-select,
.playflow-position-2 .sharing-info .current-time-select,
.playflow-position-4 .sharing-info .current-time-select,
.playflow-position-5 .sharing-info .current-time-select {
    display: none;
}
.sharing-info .current-time-select .checkbox {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 6px;
    border: 1px solid #AAAAAA;
    text-align: center;
}
.sharing-info .current-time-select .checkbox img {
    display: none;
    height: 10px;
}
.sharing-info .current-time-select .checked img {
    display: inline;
    vertical-align: text-top;
}
.share-buttons-container {
    display: table;
    width: 100%;
    height: 100%;
}
.share-buttons {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}
.share-buttons .button-container {
    display: inline-block;
    *display: inline; /* IE 7 */
    margin-right: 10px;
}
.share-buttons .button-container button {
    width: 50px;
    height: 50px;
    *display: inline; /* IE 7 */
}
/* === /Sharing === */

/* === Module: Browse === */
.browse-container {
    display: none;
    opacity: 0;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(0,0,0);
    background:rgba(0,0,0,.6);
    transition: opacity 200ms linear;
}
.browse-container-activated {
    display: block;
    opacity: 1;
}
.browse-container h3 {
    position: relative;
    height: 60px;
    font-size: 26px;
    font-weight: 100;
    line-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 26px;
    margin-right: 50px;
}
.size-small .browse-container h3 {
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-left: 18px;
}
.recommendations-grid {
    position: absolute;
    top: 60px;
    left: 2px;
    right: 2px;
    bottom: 41px;
}
.size-small .recommendations-grid {
    top: 40px;
}
.recommendations-grid .recommendation {
    position: relative;
    float: left;
    width: 33.33%;
    height: 50%;
    overflow: hidden;
    cursor: pointer;
}
.recommendations-grid .recommendation-0,
.recommendations-grid .recommendation-3 {
    left: -1px;
}
.recommendations-grid .recommendation-2,
.recommendations-grid .recommendation-5 {
    right: -1px;
}
.recommendations-grid .recommendation-3,
.recommendations-grid .recommendation-4,
.recommendations-grid .recommendation-5 {
    bottom: -1px;
}
.recommendation img {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-filter: blur(0); filter: blur(0); /* If this is not set, image bounce around in Chrome */
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}
.recommendation:hover img {
    transform: scale(1.1);
}
.recommendation-meta {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 60px 10px 15px;
    font-size: 16px;
    line-height: 1.2em;
    opacity: 0;
    background: linear-gradient(rgba(34,34,34,0), rgba(34,34,34,1.0));
    transition: opacity 200ms linear;
}
.recommendation:hover .recommendation-meta {
    opacity: 1;
}
.recommendation-meta .recommendation-title {
    min-height: 1.2em;
    max-height: 2.4em;
    overflow: hidden;
}
.recommendation-meta .recommendation-duration {
    position: absolute;
    bottom: 14px;
    right: 15px;
    font-size: 12px;
    line-height: 1em;
}

/* === /Browse === */

/* === Subtitle button === */
.subtitle-button .cc-active-icon,
.subtitle-button .cc-active-bar-icon {
    display: none;
}
.subtitle-button-active .cc-active-icon,
.subtitle-button-active .cc-active-bar-icon {
    display: block;
}
.subtitle-button-active .cc-icon {
    display: none;
}
.subtitle-button .cc-icon,
.subtitle-button .cc-active-icon,
.subtitle-button .cc-active-bar-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* === /Subtitle button === */

/* === Button graphics === */

/* Tray left buttons */
.play-button {
    background-image: url('play.png');
    background-image: linear-gradient(transparent, transparent), url('play.svg');
    background-size: 40px;
}
.pause-button {
    background-image: url('pause.png');
    background-image: linear-gradient(transparent, transparent), url('pause.svg');
    background-size: 40px;
}
.stop-button {
    background-image: url('stop.png');
    background-image: linear-gradient(transparent, transparent), url('stop.svg');
    background-size: 40px;
}
.replay-button {
    background-image: url('replay.png');
    background-image: linear-gradient(transparent, transparent), url('replay.svg');
    background-size: 40px;
}

/* Tray right buttons */
.fullscreen-button {
    background-image: url('fullscreen.png');
    background-image: linear-gradient(transparent, transparent), url('fullscreen.svg');
    background-size: 30px;
}
.video-360-button {
    background-image: url('vr.png');
    background-image: linear-gradient(transparent, transparent), url('vr.svg');
    background-size: 30px;
}
.quality-button {
    background-image: url('gear.png');
    background-image: linear-gradient(transparent, transparent), url('gear.svg');
    background-size: 30px;
}
.button-container .quality-button { transform: rotate(0deg); transition: transform 200ms linear; }
.button-container:hover .quality-button { transform: rotate(20deg); } /* Rotate quality icon on hover */
.volume-button-on {
    background-image: url('volume-on.png');
    background-image: linear-gradient(transparent, transparent), url('volume-on.svg');
    background-size: 30px;
}
.volume-button-off {
    background-image: url('volume-off.png');
    background-image: linear-gradient(transparent, transparent), url('volume-off.svg');
    background-size: 30px;
}
.subtitle-button .cc-icon {
    background-image: url('cc.png');
    background-image: linear-gradient(transparent, transparent), url('cc.svg');
    background-size: 30px;
    background-position: center center;
}
.subtitle-button .cc-active-icon {
    background-image: url('cc-active.png');
    background-image: linear-gradient(transparent, transparent), url('cc-active.svg');
    background-size: 30px;
    background-position: center center;
}
.subtitle-button .cc-active-bar-icon {
    background-image: url('cc-active-bar.png');
    background-image: linear-gradient(transparent, transparent), url('cc-active-bar.svg');
    background-size: 30px;
    background-position: center center;
}
.slides-button  {
    background-image: url('slides.png');
    background-image: linear-gradient(transparent, transparent), url('slides.svg');
    background-size: 30px;
}

/* Big play */
.big-play-button, .loop-play-button {
    background-image: url('big-play.png');
    background-image: linear-gradient(transparent, transparent), url('big-play.svg');
    background-size: 40px;
}

/* Sharing buttons */
.share-button {
    background-image: url('share.png');
    background-image: linear-gradient(transparent, transparent), url('share.svg');
    background-size: 40px;
    transition: background-color 200ms linear;
}
.facebook-button {
    background-image: url('facebook.png');
    background-image: linear-gradient(transparent, transparent), url('facebook.svg');
    background-size: 40px;
}
.facebook-button:hover {
    background-image: url('facebook-colored.png');
    background-image: linear-gradient(transparent, transparent), url('facebook-colored.svg');
}
.twitter-button {
    background-image: url('twitter.png');
    background-image: linear-gradient(transparent, transparent), url('twitter.svg');
    background-size: 40px;
}
.twitter-button:hover {
    background-image: url('twitter-colored.png');
    background-image: linear-gradient(transparent, transparent), url('twitter-colored.svg');
}
.linkedin-button {
    background-image: url('linkedin.png');
    background-image: linear-gradient(transparent, transparent), url('linkedin.svg');
    background-size: 40px;
}
.linkedin-button:hover {
    background-image: url('linkedin-colored.png');
    background-image: linear-gradient(transparent, transparent), url('linkedin-colored.svg');
}
.more-button {
    background-image: url('more.png');
    background-image: linear-gradient(transparent, transparent), url('more.svg');
    background-size: 40px;
}
.download-button {
    background-image: url('download.png');
    background-image: linear-gradient(transparent, transparent), url('download.svg');
    background-size: 40px;
}
/* Hover state of .more-button & .download-button is handled through design.js */

.close-button {
    background-image: url('close.png');
    background-image: linear-gradient(transparent, transparent), url('close.svg');
    background-size: 40px;
    transition: background-color 200ms linear;
}

/* Hide a number of elements in very small players */
.size-tiny .quality-button,
.size-tiny .subtitle-button,
.size-tiny .slides-button,
.size-tiny .scrubber,
.size-tiny .player-browse #browse,
.size-tiny .sharing-info,
.size-tiny .more-button,
.size-tiny .download-button,
.size-tiny .player-sections,
.size-small .recommendation-meta .recommendation-title {
    display:none !important;
}

/* Hide some elements in slightly small players */
.size-small .subtitle-button,
.size-small .slides-button,
.size-small .sharing-info,
.size-small .recommendation-meta .recommendation-title {
    display:none;
}

/* Adjust position of share and close buttons */
.size-small .button-container-share,
.size-tiny .button-container-share,
.size-small .button-container-close,
.size-tiny .button-container-close{
    top: 5px;
    right: 5px;
}
.size-small .button-container-share > button,
.size-tiny .button-container-share > button,
.size-small .button-container-close > button,
.size-tiny .button-container-close > button{
    width: 30px;
    height: 30px;
    background-size: 30px;
}