{% player status-display %}
{% player core %}
{% player analytics %}

<div id="player">
  <!-- Video display -->
  {% player video-display with "displayDevice":"html5" %}
  {% player playflow %}

  <div class="big-button tray-button">{% player big-play-button %}</div>

  {% player logo %}
  {% player subtitles %}
  {% player info %}
  {% player browse %}

  <!-- Control bar or tray -->
  <div id="tray">
    {% player sharing %}

    <div class="tray-navigation">
      <div class="tray-left">
        {% player play-button %}
      </div>

      <div class="tray-right">
        {% player fullscreen-button %}
        {% player quality-button %}
        {% player share-button %}
        {% player volume-button %}
        {% player social-button with "service":"twitter" %}
        {% player social-button with "service":"facebook" %}
        {% player subtitle-button %}
      </div>

      <div class="tray-scrubber">
        <div class="tray-scrubber-sub">
          {% player scrubber %}
          {% player sections %}
        </div>
      </div>
    </div>
  </div>

</div>




