{% player core %}
{% player accessibility %}
{% player analytics %}

<div id="player">
  <!-- Video display -->
  {% player video-display %}
  {% player live-preview %}
  {% player actions %}

  <div class="big-button tray-button">{% player big-play-button %}</div>

  {% player logo %}
  {% player subtitles %}
  {% player status-display %}

  <!-- Control bar or tray -->
  <div id="tray">
    {% player sharing %}
    {% player info %}

    <div class="tray-navigation">
      <ul class="tray-left">
        {% player play-button %}
      </ul>

      <div class="tray-right">
        {% player fullscreen-button %}
        {% player volume-button %}
        {% player subtitle-button %}
        {% player download-button %}
        {% player quality-button %}
        {% player share-button %}
        {% player info-button %}
        {% player browse-button %}
      </div>

      <div class="tray-scrubber">
        <div class="tray-scrubber-sub">
          {% player scrubber %}
          {% player sections %}
        </div>
      </div>
    </div>
    {% player browse %}
  </div>
</div>
