{% player core %}
{% player accessibility %}
{% player consent-status %}

  <div id="player">
  <!-- Video display -->
  {% player video-display %}
  {% player actions %}
  {% player info %}

  {% player slides %}

  {% player live-preview %}

  {% player logo %}
  {% player subtitles %}
  {% player status-display %}
  {% player browse %}
  {% player share-button %}
  {% player loop %}
  {% player sharing %}

  {% player big-play-button %}

  {% player video-360-button %}
  {% player muted-auto-play-button %}

  <!-- Control bar or tray -->
  <div id="tray" role="region" aria-live="assertive">
    <div id="traysub">
      <div class="tray-left">
        {% player play-button %}
      </div>

      <div class="tray-scrubber">
        {% player scrubber %}
        {% player sections %}
      </div>

      <div class="tray-right">
        {% player slides-button %}
        {% player subtitle-button %}
        {% player audiodescription-button %}
        {% player volume-button %}
        {% player playback-rate-button %}
        {% player quality-button %}
        {% player fullscreen-button %}
      </div>



      <div class="clear"></div>
    </div>
  </div>
</div>

{% player sections-menu %}
{% player protection %}
{% player context-menu %}

<svg class="defs-only">
  <filter id="icon_hover">
    <feFlood flood-color="#1EC95B" />
    <feComposite operator="in" in2="SourceAlpha" />
  </filter>
</svg>