{% player status-display %}
{% player core %}
{% player analytics %}
{% player playflow %}

<div id="player">
  <!-- Video display -->
  {% player video-display with "displayDevice":"html5" %}


  <!-- Control bar or tray -->
  <div id="tray">
    <div class="tray-subtitles">{% player subtitles %}</div>
    {% player info %}

    <table class="tray-navigation"><tr>
      <td class="tray-left">
        <div class="tray-button">{% player play-button %}</div>
      </td>
    
      <td class="tray-scrubber">
        {% player scrubber %}
        {% player sections %}
      </td>

      <td class="tray-right">
        <div class="tray-button">{% player browse-button %}</div>
        <div class="tray-button">{% player share-button %}</div>
        <div class="tray-button">{% player quality-button %}</div>
        <div class="tray-button">{% player subtitle-button %}</div>
        <div class="tray-button">{% player volume-button %}</div>
        <div class="tray-button">{% player fullscreen-button %}</div>
      </td>
    </tr></table>
    {% player sharing %}
    {% player browse %}
  </div>

  <div class="big-button tray-button">{% player big-play-button %}</div>
  {% player logo %}
</div>



