/* ========================= BROWSER RESET ======================== */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img,button{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}ol,ul {list-style:none;}caption,th {text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;}* focus, video, object, player, embed {outline:none} *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}iframe{border:0} input,textarea{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;-o-user-select:text;user-select:text;}iframe{border:0}button{background-color:transparent;}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//themes.googleusercontent.com/static/fonts/opensans/v6/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(//themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(//themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxhbnBKKEOwRKgsHDreGcocg.woff) format('woff');
}


/* ========================= GENERAL TAGS ======================== */
a img {border:0;}
html,body {
    width:100%;
    height:100%;
    background-color: #000000;
    overflow:hidden;
}
body {
    margin:0;
    color:#333;  /*updated in js via player settings */
    font:11px/14px 'Open Sans', sans-serif;  /*updated in js via player settings */

    scrollbar-base-color: #000;
    scrollbar-3dlight-color: #000;
    scrollbar-highlight-color: #000;
    scrollbar-track-color: #555;
    scrollbar-arrow-color: #555;
    scrollbar-shadow-color: #000;
    scrollbar-dark-shadow-color: #000;
}
h1 {
    font-size:14px; /*updated in js via player settings */
    line-height:2em;
    font-weight:bold; /*updated in js via player settings */
    letter-spacing:.3px;
}
p {
    font-size:12px; /*updated in js via player settings */
    font-weight:normal; /*updated in js via player settings */
    line-height:1.5em;
    letter-spacing:.3px;
}
.clear {
    clear: both;
}
.share-buttons button, .submitbutton {
    background-color:#3B3B3C;
    color:white; /*updated in js via player settings */
    font-size:11px;
    padding:0 2px;
    border:none;
    background-repeat:no-repeat;
    background-position:center center;
    cursor:pointer;
    height:34px;
    width: 34px;
    line-height:34px;
    margin: 0;
}
.touch .share-buttons button, .touch .submitbutton {
    width: 44px;
    height: 44px;
}
.submitbutton {
    padding-left:5px;
    font-size:14px;
}
body.hide-cursor, body.hide-cursor * {
    cursor: none;
}


/* ========================= GENERIC CLASSES ======================== */

/* === buttons === */
.button { /* standard button design */
    display:block;
    position:relative;
    height:34px;
    width:34px;
    background-position:center center;
    background-repeat:no-repeat;
    cursor:pointer;
    font-size:0;
    box-sizing: content-box;
}
.touch .button {
    height: 44px;
    width: 44px;
}
.highlight-button {
    opacity:1 !important;
    background-color: #ccc;
    background-color: rgba(120,120,120,0.3);
}
.button:hover, .activebutton {
    opacity:1;
}
.button.big { /* big version of same button */
    height:50px;
    width:50px;
    border-radius:2px;
}
.touch .button.big {
    height: 80px;
    width: 80px;
}
ul.button-list { /* button menus */
    display:none;
    opacity:0;
    position:absolute;
    bottom:44px;
    right:0;
    background-color: rgb(200,200,200);
    background-color: rgba(200,200,200,0.6);
    line-height:25px;
    text-align:left;
}
.activebutton-container ul.button-list {
    display: block;
    font-size:11px;
    line-height:22px;
    opacity: 1;
    -webkit-animation: menuSlideIn 400ms;
    -moz-animation: menuSlideIn 400ms;
    animation: menuSlideIn 400ms;
}
.touch ul.button-list {
    bottom: 54px;
}
.touch.video-stream ul.button-list {
    bottom: 44px;
}
.touch.video-stream.stream-dvr ul.button-list {
    bottom: 54px;
}
.activebutton {
    filter: alpha(enabled=false) !important; /* IE alpha overflow hidden bug, http://labs.thesedays.com/blog/2011/06/02/ie-alpha-overflow-hidden-bug/ */
    background-color: #ccc;
    background-color: rgba(120,120,120,0.3);
    overflow: visible;
}
.hide-visually {
    text-indent: -9999px;
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

ul.button-list li { /* menu items */
    white-space:nowrap;
    background:url('not-selected-icon.png') -2px -3px no-repeat;
    padding:1px 10px 1px 24px;
    background-color: #ccc;
    background-color: rgba(120,120,120,0.3);
    cursor: pointer;
}
ul.button-list li:first-child {
    padding-top:6px;
    background-position:-2px 3px;
}
ul.button-list li:last-child {
    padding-bottom:6px;
}
ul.button-bulletless li {
    background-image:none !important;
    padding-left:10px;
}
.button-list li.hover { /* menu item hover */
}
.button-list li.selected { /* menu item selected */
    background-image:url('selected-icon.png');
}
.button-list button {
    cursor: pointer;
}
a.button { /* standard button design as a straight link */
    display:inline-block;
    *display:inline;
    *zoom:1;
    border:1px solid #333;
    height:30px;
    width:30px;
    border-radius:2px;
    background-color:black;  /*updated in js via player settings */
    background-position:center center;
    background-repeat:no-repeat;
    opacity:.8;
    cursor:pointer;
    font-size:0;
    text-decoration:none;
}
/* === /buttons === */




/* ========================= OVERALL GRID ======================== */

/* === tray === */
#tray { /* tray position */
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
}
.tray-navigation {
    *filter: alpha(enabled=false) !important; /* IE alpha overflow hidden bug, http://labs.thesedays.com/blog/2011/06/02/ie-alpha-overflow-hidden-bug/ */
    position:relative;
    background-color: rgb(255, 255, 255); /* updated in js */
    background-color: rgba(255,255,255, 0.85); /* Updated in js */
}
.tray-left .tray-button { /* buttons left of scrubber */
    float:left;
    margin-right:3px;
    width: 40px;
}
.tray-right .tray-button { /* buttons right of scrubber */
    float:right;
    padding: 0 2px;
    border-left: 1px solid #e6e6e6;
}
.tray-scrubber {  /* scrubber position */
    clear:both;
    margin: 0;
}
.tray-scrubber-sub {
    position:relative;
}
#tray.minimized .tray-left, #tray.minimized .tray-right {
    display:none;
}

/* === /tray === */




/* ========================= INDIVIDUAL MODULES ======================== */

/* === Module: Scrubber === */
.scrubber-container {
    position:relative;
    height:10px;
    background:rgb(0,0,0); /*fallback for browser with no RGBa support */
    background:rgba(0,0,0,.8); /*updated in js via player settings */
    filter: alpha(enabled=false) !important; /* IE alpha overflow hidden bug, http://labs.thesedays.com/blog/2011/06/02/ie-alpha-overflow-hidden-bug/ */
}
.scrubber {
    position:relative;
    cursor:pointer;
}
.scrubber-track, .scrubber-buffer, .scrubber-play {
    position:absolute;
    top:0;
    left:0;
    height:10px;
    width:0;
    cursor:pointer;
}
.scrubber-track {
    width:100%;
    background-color:#888;
}
.scrubber-buffer {
    background-color:#777;
}
.scrubber-play {
    background-color:#eee; /*updated in js via player settings */
}
.scrubber-handle {
    display:none;
    cursor:pointer;
    position:absolute;
    top:7px;
    background-color:#eee;
    border-radius:1px;
    font-size:9px;
    line-height:9px;
    color:#333;
    padding:4px 4px 2px 4px;
    z-index:10;
}
.scrubber-container-hover .scrubber-handle {
    display:block;
}
.scrubber-time {
    display:none;
    position:absolute;
}
.scrubber-thumbnail {
    position:absolute;
    bottom:40px;
    border-radius:2px;
    border:2px solid #ccc;
    display:none;
}
.touch .scrubber-thumbnail {
    bottom: 47px;
}
.scrubber-thumbnail-sub {
    background-repeat: 'no-repeat';
    width:100%;
    height:100%;
}
#tray.minimized .scrubber-container {
    height:5px;
    overflow:hidden;
}
/* === /Sharing === */

/* === Module: Sections === */
.sections {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:0; /* for ie7's sake, otherwise this element covers the scrubber  */
}
.section {
    position:absolute;
    top:0;
    width:10px;
    height:10px;
    margin:0px 0 0 -4px;
    background-color:#444;
    cursor:pointer;
}
.section-title {
    display:none;
}
/* === /Sections === */

/* === Module: Info === */
.player-info {
    position: absolute;
    top: 10px;
    left: 10px;
    color:white;
}

.info-pane {
    margin:0 5px;
    /*background:rgb(0,0,0); /*fallback for browser with no RGBa support */
    /*background:rgba(0,0,0,.8); /*updated in js via player settings */
    border-radius:2px;
    padding:5px 10px 8px 10px;
}
.info-pane h1 {
    text-shadow: 1px 1px 5px #999;
    font-size: 28px;
    font-weight: normal;
}

/* === /Info === */

/* === Module: Sharing === */
.player-sharing {
    /*background:rgb(0,0,0); /*fallback for browser with no RGBa support */
    /*background:rgba(0,0,0,.8); /*updated in js via player settings */
    width: 38px;
    position: absolute;
    right: 0;
    bottom: 44px;
}
.video-stream .player-sharing {
    bottom: 34px;
}
.video-stream.stream-dvr .player-sharing {
    bottom: 44px;
}
.touch .player-sharing {
    width: 48px;
    bottom: 54px;
}
.touch.video-stream .player-sharing {
    bottom: 44px;
}
.touch.video-stream.stream-dvr .player-sharing {
    bottom: 54px;
}
.share-embed {
    padding-bottom:10px;
}
.share-embed input {
    width:80%;
    max-width:471px;
    line-height:20px;
    font-size:11px;
    height:20px;
    padding:3px;
    border:none;
    background-color:white;
    box-shadow: inset 0 0 6px #666;
}
.share-embed-label {
    float:left;
    font-size:14px;
    padding:0 23px 0 32px;
    font-weight:bold;
    line-height:26px;
    background:url('embed-icon.png') left center no-repeat;
}
.share-buttons {
    overflow:hidden;
}
.share-buttons button {
    background-color: transparent;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: content-box;
}

.share-buttons button:hover {
    opacity: 1;
}
/* === /Sharing === */

/* === Module: Browse === */
/* Place the browse pane within the player */
.player-browse #browse, .player-browse #browsesub {
    position:absolute;
    top: 0;
    right: 0;
    width: 240px;
}
.player-browse #browse {
    background-color: rgb(200,200,200);
    background-color: rgba(200,200,200,0.6);
    bottom: 44px;
}
.video-stream .player-browse #browse {
    bottom: 34px;
}
.video-stream.stream-dvr .player-browse #browse {
    bottom: 44px;
}
.touch .player-browse #browse {
    bottom: 54px;
}
.touch.video-stream .player-browse #browse {
    bottom: 44px;
}
.touch.video-stream.stream-dvr .player-browse #browse {
    bottom: 54px;
}
.player-browse #browsesub {
    bottom: 0;
    padding:30px 0px;
    background:#ccc; /*fallback for browser with no RGBa support */
    background:rgba(120,120,120,0.3);
}
/* Place left and right browsing with a carousel in the middle */
.browse-container, .browse-left, .browse-right {
    overflow:hidden;
}
.browse-left, .browse-right {
    position:absolute;
    width:240px;
    height: 30px;
    cursor:pointer;
    background-position:center center;
    background-repeat:no-repeat;
}
.browse-left {
    top:0;
    background-image:url('prev-icon.png');
}
.browse-right {
    bottom:0;
    background-image:url('next-icon.png');
}
.browse-container {
    position:absolute;
    top: 30px;
    bottom: 30px;
    width: 180px;
    margin:0 30px;
}
/* Thumbnails in a fully standard table,
   makes sure we don't need to handle breaking
   or explicitly set the width */
table.browse-recommendations {
    position:absolute;
    top:0px;
    left:0px;
}
table.browse-recommendations td {
    width:180px;
    height:110px;
    cursor:pointer;
}
table.browse-recommendations img {
    width:180px;
    height:101px;
}
table.browse-recommendations div {
    line-height:16px;
    height:32px;
    overflow:hidden;
}
/* === /Browse === */

/* Button graphics */
.play-button {background-image:url('play-icon.png');}
.big-play-button {background-image:url('big-play-icon.png');}
.pause-button {background-image:url('pause-icon.png');}
.stop-button {background-image:url('stop-icon.png');}
.facebook-button {background-image:url('facebook-icon.png');}
.twitter-button {background-image:url('twitter-icon.png');}
.google-button {background-image:url('google-icon.png');}
.site-button {background-image:url('site-icon.png');}
.browse-button-on {background-image:url('browse-on-icon.png');}
.browse-button-off {background-image:url('browse-off-icon.png');}
.share-button {background-image:url('share-icon.png');}
.info-button {background-image:url('info-icon.png');}
.volume-button-on {background-image:url('volume-on-icon.png');}
.volume-button-off {background-image:url('volume-off-icon.png');}
.fullscreen-button {background-image:url('fullscreen-icon.png');}
.mail-button {background-image:url('mail-icon.png');}
.quality-button {background-image:url('quality-icon.png');}
.subtitle-button {background-image:url('subtitle-icon.png');}
.download-button {background-image:url('download-icon.png');}
.slides-button {background-image:url('slides-icon.png');}


/* Hide a number of elements in very small players */
.size-tiny .info-button,
.size-tiny .share-button,
.size-tiny .browse-button-on,
.size-tiny .browse-button-off,
.size-tiny .quality-button,
.size-tiny .subtitle-button,
.size-tiny .slides-button,
.size-tiny .tray-scrubber,
.size-tiny .info-pane,
.size-tiny .sharing-container,
.size-tiny .player-browse #browse {
    display:none !important;
}

/* Hide some elements in slightly small players */
.size-small .info-description,
.size-small .subtitle-button,
.size-small .info-button,
.size-small .browse-button-on,
.size-small .browse-button-off,
.size-small .sharing-container
.size-small .player-browse #browse {
    display:none;
}

/* All graphics in retina version */
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .play-button {background-image:url('play-icon@2x.png'); background-size:30px;}
    .big-play-button {background-image:url('big-play-icon@2x.png'); background-size:60px;}
    .pause-button {background-image:url('pause-icon@2x.png'); background-size:30px;}
    .stop-button {background-image:url('stop-icon@2x.png'); background-size:30px;}
    .facebook-button {background-image:url('facebook-icon@2x.png'); background-size:30px;}
    .twitter-button {background-image:url('twitter-icon@2x.png'); background-size:30px;}
    .google-button {background-image:url('google-icon@2x.png'); background-size:30px;}
    .site-button {background-image:url('site-icon@2x.png'); background-size:30px;}
    .browse-button-on {background-image:url('browse-on-icon@2x.png'); background-size:30px;}
    .browse-button-off {background-image:url('browse-off-icon@2x.png'); background-size:30px;}
    .share-button {background-image:url('share-icon@2x.png'); background-size:30px;}
    .info-button {background-image:url('info-icon@2x.png'); background-size:30px;}
    .volume-button-on {background-image:url('volume-on-icon@2x.png'); background-size:30px;}
    .volume-button-off {background-image:url('volume-off-icon@2x.png'); background-size:30px;}
    .fullscreen-button {background-image:url('fullscreen-icon@2x.png'); background-size:30px;}
    .mail-button {background-image:url('mail-icon@2x.png'); background-size:30px;}
    .quality-button {background-image:url('quality-icon@2x.png'); background-size:30px;}
    .subtitle-button {background-image:url('subtitle-icon@2x.png'); background-size:30px;}
    .download-button {background-image:url('download-icon@2x.png'); background-size:30px;}
    .slides-button {background-image:url('slides-icon@2x.png'); background-size:30px;}

    ul.button-list li {background-image:url('not-selected-icon@2x.png'); background-size:30px;}
    ul.button-list li.selected {background-image:url('selected-icon@2x.png'); background-size:30px;}
    .share-embed-label {background-image:url('embed-icon@2x.png'); background-size:30px;}
    .browse-left {background-image:url('prev-icon@2x.png'); background-size:30px;}
    .browse-right {background-image:url('next-icon@2x.png'); background-size:30px;}
}


/* CSS Animations and Transitions */
@-moz-keyframes menuSlideIn {
    from {opacity:0; margin-bottom:-10px;}
    to {opacity:1;}
}
@-webkit-keyframes menuSlideIn {
    from {opacity:0; margin-bottom:-10px;}
    to {opacity:1;}
}
@keyframes menuSlideIn {
    from {opacity:0;margin-bottom:-10px;}
    to {opacity:1;}
}