.loading-indicator {
    position:absolute; 
    top:0; 
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    background-color:rgba(0,0,0,.8);
    background-position:center center;
    background-image:url('preloader.gif');
    background-repeat:no-repeat;
    z-index:9998;
}

.error-display {
    position:absolute; 
    top:0; 
    left:0;
    width:100%;
    height:100%;
    background-color:black;
    background-color:rgba(0,0,0,.9);
    z-index:9999;
}
.error-display p {
    font-size:14px; 
    padding:10px;
    margin:0;
}
.error-display p,
.error-display a {
    color:white;
}

.seeking-indicator {
    position:absolute; 
    top:0; 
    left:0;
    width:100%;
    height:100%;
    background-position:center center;
    background-image:url('preloader.gif');
    background-repeat:no-repeat;
    z-index:9997;
}