{% if displayDevice == 'none' %}
  <div class="error-display">
    <p>
      Your browser does not support video playback.<br/>
      To view this content, either upgrade your browser or <a href="http://get.adobe.com/flashplayer/" target="_top">install Adobe Flash</a>.
    </p>
  </div
{% endif %}

{% if error != empty %}
  <div class="error-display">
    <p>{{error}}</p>
  </div>
{% endif %}

{% if displayDevice != 'none' and error == empty and loading == true %}
  <div class="loading-indicator"></div>
{% endif %}

{% if video_playable and (seeking or stalled) %}
  <div class="seeking-indicator"></div>
{% endif %}