{% if showSeeking %}
  <div class="seeking-indicator"></div>
{% endif %}

{% if displayDevice == 'none' %}
  <div class="error-display">
    <p>
      {{"browser_does_not_support"|translate}}<br/>
      {{"to_view_this_content"|translate}}
    </p>
  </div
{% endif %}

{% if error != empty %}
  <div class="error-display">
    <p>{{error|translate}}</p>
  </div>
{% endif %}

{% if displayDevice != 'none' and error == empty and loading == true %}
  <div class="loading-indicator"></div>
{% endif %}
