.seeking-indicator, .loading-indicator {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-position:center center;
    background-image:url('preloader.gif');
    background-repeat:no-repeat;
}

.loading-indicator {
    background:black;
    background:rgba(0,0,0,.6);
}

.error-display {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    background:rgba(0,0,0,.9);
    z-index:9997;
}
.error-display p {
    font-size:14px;
    padding: 40px 0 40px 70px;
    margin: 0 auto;
    max-width: 80%;
    background: transparent url('warning.svg') left center no-repeat;
    background-size: 50px;
}
.error-display p,
.error-display a {
    color:white;
}

.warning-display {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:black;
    background:rgba(0,0,0,.35);
    z-index:9996;
}
.warning-display p {
    font-size:13px;
    padding: 6px 14px;
}
.warning-display p,
.warning-display a {
    color:white;
}
