{% if showSharing %}
  <div class="sharing-container">    
    <div class="share-buttons">
      <button click="$set:shareTo:site" class="site-button"></button>
      <button click="$set:shareTo:facebook" class="facebook-button"></button>
      <button click="$set:shareTo:twitter" class="twitter-button"></button>
      <button click="$set:shareTo:google" class="google-button"></button>
      <button click="$set:shareTo:mail" class="mail-button"></button>
    </div>
  </div>
{% endif %}
