{% if showSharing %}
  <div class="sharing-container">
    <div class="share-embed">
      <div class="share-embed-label">Embed</div>
      <input type="text" value="{{embedCode|escape}}" onclick="$(this).select();" click="$fire:player:sharing:embedengaged"/>
    </div>
  </div>
{% endif %}
