{% if showSharing %}
  <div class="sharing-container">    
    <div class="share-buttons">
      <button click="$set:shareTo:site" class="site-button" aria-label="See on site" label="See on site" role="button" tabindex="1301"></button>
      <button click="$set:shareTo:facebook" class="facebook-button" aria-label="Share on Facebook" label="Share on Facebook" role="button" tabindex="1302"></button>
      <button click="$set:shareTo:twitter" class="twitter-button" aria-label="Tweet this video" label="Tweet this video" role="button" tabindex="1303"></button>
      <button click="$set:shareTo:google" class="google-button" aria-label="+1 on Google" label="+1 on Google" role="button" tabindex="1304"></button>
      <button click="$set:shareTo:mail" class="mail-button" aria-label="Mail video" label="Mail video" role="button" tabindex="1305"></button>
    </div>
  </div>
{% endif %}
