{% if showSharing %}
  <div class="sharing-container">
    <div class="share-embed">
      <div class="share-embed-label">Embed</div>
      <input type="text" value="{{embedCode|escape}}" onclick="$(this).select();" click="$fire:player:sharing:embedengaged"/>
    </div>
    
    <div class="share-buttons">
      <button click="$set:shareTo:site" class="site-button">See on site</button>
      <button click="$set:shareTo:facebook" class="facebook-button">Share on Facebook</button>
      <button click="$set:shareTo:twitter" class="twitter-button">Tweet this video</button>
      <button click="$set:shareTo:google" class="google-button">+1 on Google</button>
      <button click="$set:shareTo:mail" class="mail-button">Mail video</button>
    </div>
  </div>
{% endif %}
