{% if showSharing %}
  <div class="sharing-container">
    <div class="share-buttons">
      <div id="share-left">
        <button click="$set:shareTo:facebook" class="facebook-button"></button>
        <button click="$set:shareTo:twitter" class="twitter-button"></button>
        <button click="$set:shareTo:google" class="google-button"></button>
      </div>
      <div id="embed-container">
        <input type="text" value="{{embedCode|escape}}" onclick="$(this).select();" click="$fire:player:sharing:embedengaged"/>
      </div>
      <div id="share-right">
        <button click="$set:shareTo:site" class="site-button"></button>
        <button click="$set:shareTo:mail" class="mail-button"></button>
      </div>
    </div>
  </div>
{% endif %}
