{% if showSharing %}
  <div class="sharing-container">
    <div class="share-buttons">
      <div id="share-left">
        <button click="$set:shareTo:facebook" class="facebook-button" aria-label="Share on Facebook" label="Share on Facebook" role="button" tabindex="1301"></button>
        <button click="$set:shareTo:twitter" class="twitter-button" aria-label="Tweet this video" label="Tweet this video" role="button" tabindex="1302"></button>
        <button click="$set:shareTo:google" class="google-button" aria-label="+1 on Google" label="+1 on Google" role="button" tabindex="1303"></button>
      </div>
      <div id="embed-container">
        <input type="text" value="{{embedCode|escape}}" onclick="$(this).select();" click="$fire:player:sharing:embedengaged" aria-label="Copy embed code for video" label="Copy embed code for video" role="button" tabindex="1304"/>
      </div>
      <div id="share-right">
        <button click="$set:shareTo:site" class="site-button" aria-label="See on site" label="See on site" role="button" tabindex="1305"></button>
        <button click="$set:shareTo:mail" class="mail-button" aria-label="Mail video" label="Mail video" role="button" tabindex="1306"></button>
      </div>
    </div>
  </div>
{% endif %}
