{% if showSharing %}
  <div id="sharing" class="sharing-container">
    <div class="share-embed">
      <div class="share-embed-label">Embed</div>
      <input type="text" value="{{embedCode|escape}}" onclick="$(this).select();" click="$fire:player:sharing:embedengaged" aria-label="Copy embed code for video" label="Copy embed code for video" role="button" tabindex="1301"/>
    </div>
    
    <div class="share-buttons">
      <button click="$set:shareTo:site" class="site-button" aria-label="See on site" label="See on site" role="button" tabindex="1302">
        See on site
      </button>
      <button click="$set:shareTo:facebook" class="facebook-button" aria-label="Share on Facebook" label="Share on Facebook" role="button" tabindex="1303">
        Share on Facebook
      </button>
      <button click="$set:shareTo:twitter" class="twitter-button" aria-label="Tweet this video" label="Tweet this video" role="button" tabindex="1304">
        Tweet this video
      </button>
      <button click="$set:shareTo:google" class="google-button" aria-label="+1 on Google" label="+1 on Google" role="button" tabindex="1305">
        +1 on Google
      </button>
      <button click="$set:shareTo:mail" class="mail-button" aria-label="Mail video" label="Mail video" role="button" tabindex="1306">
        Mail video
      </button>
    </div>
  </div>
{% endif %}
